:root {
    --actions-bar-height: 50px;
    --actions-bar-height-minus: -50px;
}

.sd_header {
    -webkit-user-select: none;
}

.sd_header_editor, .sd_header_dash  {
  display: flex;
  flex-direction: row;
}

.sd_backDash_button {
    background-image: url(./images/icons8-left_4.png);
    background-color:rgba(255,255,255, 0);
    height: 50px;
    border: none;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: left center;
	padding-left: 25px;
   	padding-right: 25px;
    background-size: 25px;
}

.sd_backDash_button:hover {
	color: var(--secondary-text-color);
}


.sd_header_subContent {
	position: absolute;
	top: 0px;
	right: 0;
	left: 100px;
	height: 100px;
	overflow: hidden;
    -webkit-transition: top  0.2s linear;
}

.sd_header_subContent.bal_editor {
	top: var(--actions-bar-height-minus);
}

.sd_actionbar_edit {
	height: var(--actions-bar-height);
	/* display: inline-block; */
	/* position: absolute; */
	flex: 1;
	display: flex;
	flex-direction: row;
}

.sd-actionBar-low, .sd-actionBar-high, .sd-actionBar-vhigh {
	display: flex;
	flex-direction: row;
	border-left: 1px solid #e5e5e5;
	padding-right: 10px;
	padding-left: 10px;
}

.sd-actionBar-low {
	flex-wrap: wrap;
}

.sd_header_dash div:first-child {
    border-left: 0px solid #e5e5e5; 
}



.sd-actionBar-low {
    justify-content: left;
}

.sd-actionBar-high {
}

.sd-actionBar-vhigh {
}

.sd_header_editor .sd-actionBar-low {
    flex: 1;
    flex-direction: column;
}

.sd_header_editor .sd-actionBar-high {
    flex: 5;    
}

.sd-actionBar-low button {
    background: none;
    border: none;
    font-size: 11px;
    background-repeat: no-repeat;
    padding-left: 25px;
    background-size: 16px; 
    color: var(--default-text-color);
    background-position: left center;
}

.sd-actionBar-high button {
    background-color: rgba(255, 255, 255, 0);
    height: 50px;
    border: none;
    font-size: 11px;
    background-repeat: no-repeat;
    background-position: center 17%;
    padding-top: 23px;
    padding-bottom: 3px;
    background-size: 22px;
    white-space: nowrap;
}

.sd-actionBar-vhigh button {
    background-color:rgba(255,255,255, 0);
    height: 50px;
    border: none;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: left center;
	padding-left: 33px;
    background-size: 25px;

}

.sd-actionBar-high button:hover, .sd-actionBar-vhigh button:hover, .sd-actionBar-low button:hover {
	color: var(--secondary-text-color);
}

.sd-actionBar-high sd-languages-selector {
    border-left: 1px solid var(--border-light-color);
    padding-left: 20px;
    margin-left: 10px;
    line-height: 40px;
}

button.sd-action-delete-view {
    background-image: url(./images/icons8-delete_slide.png);
}

button.sd-action-delete-page {
    background-image: url(./images/icons8-delete_file.png);
}

button.sd-action-rename-view, button.sd-action-rename-page {
    background-image: url(./images/icons8-rename_filled.png);
} 

button.sd-action-add-view {
    background-image: url(./images/icons8-slide_layout_filled.png);
} 

button.sd-action-edit-proj {
    background-image: url(./images/icons8-design.png);
}

button.sd-action-del-proj {
    background-image: url(./images/icons8-delete_sign.png);
}

button.sd-action-arch-proj {
    background-image: url(./images/icons8-archive.png);
}

button.sd-action-imp-arch {
    background-image: url(./images/icons8-import.png);
}

button.sd-action-add-page {
    background-image: url(./images/icons8-sheet_of_paper.png);
} 

button.sd-action-preview, button.sd-action-preview-full {
    background-image: url(./images/icons8-play_filled.png);
} 

.sd_header_confirm, .sd_header_rename {
	height: var(--actions-bar-height);
	background: var(--back-secondary-color);
	position: absolute;
	top: var(--actions-bar-height-minus);
	right: 0;
	left: 0;
	overflow: hidden;
	z-index: 999;
	-webkit-transition: top 0.2s linear;
    display: flex;
}

.sd_header_confirm div.sd_h_text {
    flex: 3;
    padding-left: 10px;
    text-align: center;
    cursor: default;
}

.sd_header_confirm button, .sd_header_rename button {
    flex: 2;
    border: 0;
    margin: 0;
    font-size: 13px;
    line-height: 50px;
}

.sd_header_confirm button:disabled, .sd_header_rename button:disabled {
    opacity: 0.2;
}

.sd_header_rename div.sd_h_text {
    line-height: 1.2;
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 10px;
    text-align: center;
    cursor: default;
    margin: 0;
    padding: 0;
}

.sd_small {
    font-size: 10px;
}

.sd_header_rename button {
    flex: 1 !important;
}

input.sd_header_rename_text {
    flex: 1;
    border-radius: 0;
    font-size: 15px;
    margin: 10px;
}

.sd_header_confirm button:hover, .sd_header_rename button:hover {
    border-bottom: 4px solid var(--default-blue-text-color);
}

.sd_header_confirm button:disabled:hover, .sd_header_rename button:disabled:hover {
    border-bottom: 0px;
}

.sd_header_confirm_yes {
    background-color: var(--switch-button-yes);

}

.sd_header_confirm_yes:active {
    border-bottom: 5px solid #858699;
}

.sd_header_confirm_no {
    background-color: var(--switch-button-no);
}

.sd_header_confirm_no:active {
    background-color: #adc2d2;
}

.sd_header_editor .sd_header_confirm.sd_active, .sd_header_editor .sd_header_rename.sd_active {
    top: var(--actions-bar-height);
}

.sd_header_dash .sd_header_confirm.sd_active, .sd_header_dash .sd_header_rename.sd_active {
    top: 0;
}

/* loader for loading action */
.sd-actionBar-loader-cont {
	background-color: var(--main-back-color);
	position: absolute;
	line-height: normal;
	bottom: 0;
	/* top: 0; */
	left: 0;
	right: 0;
	height: 50px;
    display: flex;
}

.sd_actionBar-load-text {
    display: inline-block;
    font-size: 18px;
    padding-left: 10px;
    width: 300px;
    position: relative;
    height: 50px;
    line-height: 50px;
}

.sd-actionBar-loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid var(--secondary-text-color);
  top: 10%;
  animation: sd-actionBar-loader 2s infinite ease;
}

.sd-actionBar-loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: var(--secondary-text-color);
  animation: sd-actionBar-loader-inner 2s infinite ease-in;
}

@keyframes sd-actionBar-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sd-actionBar-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

.sd-actionBar-iap {
	background-color: var(--default-blue-text-color);
    position: absolute;
    right: 0;
    height: 48px;
    display: flex;
}

div.sd-actionBar-iap button {
    color: #fbfbfb;
    background: none;
    border: 0;
    background-image: url(./images/icons8-shopping_bag_filled.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 30px; 
	padding-left: 50px; 
    padding-right: 20px;
    flex: 1;
    margin: 0;
    width: 180px;
}

div.sd-actionBar-iap button:hover {
    color: #cce0ff;
}
