.sg_links-list {
    padding: 20px; 
}

.sg-lists-item-img i {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2px;
    margin-left: -3px;
}

.sg_links-list .icon-top a, .sg_links-list .icon-bottom a {
 line-height: 0.4;
}

