.sg_buttonset {
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
}

.sd-prop-but-wrapper {
  width: 100%;
}

.sd-prop-but-item {
  width: 100%;
}

.sd-img-button {
  background-color: rgba(0, 0, 0, 0) !important;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 35px;
}

.sd-img-button.tiny {
  width: 50px;
  height: 20px;
}

.sd-img-button.small {
  width: 100px;
  height: 30px;
}

.sd-img-button.large {
  width: 180px;
  height: 45px;
}

.sd-button-single a, .sd-button-single button {
  margin:0 !important;
}

