.sg_modal {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    z-index: 99999;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.sd-modal-rmicn {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 0;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.3);
    background-image: url(./img/icons8-cancel.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25px;
    height: 25px;
}

.sd-modal-rmicn:hover {
    background-color: rgba(0,0,0,0.9);
}

.sg-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.sg-mask.sg-visible {
    display: block;
}