.sd-siteMap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 40px;
  color: var(--default-text-color);
}

#sd-site-map-tree {
  border-radius: 5px;
  background-color: var(--back-secondary-color);
  padding: 8px 20px 20px 20px;
  margin-top: 10px;
}

.sd-siteMap  ul.jqtree-tree .jqtree-title {
    /* color: #000000; */
}

.sd-siteMap  ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
  border: solid 2px #999;
}

.sd-siteMap  ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
  background-color: #999;
}

.sd-siteMap  ul.jqtree-tree span.jqtree-border {
  border: solid 2px #999;
}

.sd-siteMap  ul.jqtree-tree .jqtree-moving > .jqtree-element .jqtree-title {
  outline: dashed 1px #999; 
}

.sd-siteMap  ul.jqtree-tree .sd-side-map-menu .jqtree-title {
  color: var(--secondary-text-color);
}



.sd-siteMap span {
  outline: none;
}

.sd-site-map-cont {
  display: flex;
  flex-direction: row;
}

.sd-site-map-tree {
  flex: 1;
}

.sd-site-map-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px 30px;
}

.sd-site-map-remove {
  color: red;
}

.sd-info {
  font-size: 10px;
  font-style: italic;
  color: #999999;
}

#sd-site-map-add {
    float: right;
}

.sd-siteMap ul.jqtree-tree li.jqtree-selected > .jqtree-element .jqtree-title {
    color: var(--default-blue-text-color) !important;     
}

.sd-siteMap ul.jqtree-tree li.jqtree-selected > .jqtree-element,
.sd-siteMap ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background: none;
}