.sg_image {
  text-align: center;
  padding-left: max(0.9375rem, env(safe-area-inset-left));
  padding-right: max(0.9375rem, env(safe-area-inset-right));
}

.sg_image img {
  width: 100%;
}

img.sg-img-h-small {
  max-height: 300px;
}

img.sg-img-w-small {
  max-width: 300px;
}

img.sg-img-h-medium {
  max-height: 500px;
}

img.sg-img-w-medium {
  max-width: 500px;
}

img.sg-img-h-large {
  max-height: 800px;
}

img.sg-img-w-large {
  max-width: 800px;
}