.sg_footer-social {
  font-size: 140%;
  padding: 17px;
  padding-left: max(0.9375rem, env(safe-area-inset-left));
  padding-right: max(0.9375rem, env(safe-area-inset-right));
}

.sg_footer-social.sg-fss-medium i {
  font-size: 2rem;
}

.sg_footer-social.sg-fss-large i {
  font-size: 4rem;
}