        .sd_componentList {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.sd_componentList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sd_componentList ul li {
    min-height: 70px;
    background-repeat: no-repeat;
    background-size: 95px;
    background-position: 5% center;
    background-color: #686868; 
    position: relative;
    border-bottom: 1px solid #999;
	cursor: move;
}

.sd-drag-ghost {
	height: 70px;
	width: 70px;
    padding: 10px;
	border-radius: 100%;
	background-color: rgba(0,0,0,0.4);
	background-position: 50% 50%;
	background-size: 50%; 
	background-repeat: no-repeat; 
    pointer-events: none;
}

.sd_componentList_item_link {
	position: absolute;
	top: 0;
    right: 10px;
    top: 10px;
    color: #fff;
    height: 18px;
    width: 18px;
    background-repeat: no-repeat;
	background-size: 100%;	
    background-image: url(../../../styles/img/About_ffffff_50.png);
    cursor: pointer;
}

.sd_componentList_item_desc {
    color: #fff;
   	padding: 0 10px 10px 120px;
    min-height: 40px;
	font-size: 12px;
    pointer-events: none;
}

.sd_componentList_item_title {
    color: #fff;
    padding-left: 120px;
    height: 40px;
    line-height: 40px;
    pointer-events: none;
}
