 .bal_popin {
	background-color: var(--back-secondary-color);
	height: 320px;
	left: 20%;
	right: 20%;
	position: absolute;
	top: -250px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-transition: all 0.2s linear;
	overflow: visible;
	color: var(--default-text-color);
	box-shadow: 0px 4px 10px #c2c2c2;
	opacity: 0;
}

.bal_popin p {
    margin-bottom: 8px;
}

.bal_popin.visible {
	opacity: 1;
	top: 0px !important;
}

.bal_popin::before {
  content: '';
  position: fixed;
  background-color: rgba(130, 130, 130, 0.51);
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}

.bal_popinContent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
	background-color: var(--back-secondary-color);
	padding: 0 10px 0 10px;
	overflow: auto;
    overflow: visible;
}

.bal_popinActions {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bal_popinActions button {
    flex: 1;
    border: 0;
    margin: 0;
    font-size: 12px;
    color: var(--default-text-color);
    line-height: 50px;
}

.bal_popinActions button:disabled {
    opacity: 0.2;
} 

.bal_popinActions button:hover {
	border-bottom: 4px solid var(--default-blue-text-color) !important;
}

.bal_popinActions button[data-name="cancel"] {
    border-bottom: 4px solid var(--switch-button-no);
	background-color: var(--switch-button-no);
    border-bottom-left-radius: 10px;

}

.bal_popinActions button[data-name="create"] {
   	border-bottom: 4px solid var(--switch-button-yes);
    background-color: var(--switch-button-yes);
	border-bottom-right-radius: 10px;
}
