.sg_image-link {
  display: flex;
      flex-direction: column;
      justify-content: flex-end;
      cursor: pointer;
  }
  .sg_image-link:hover {
    filter: brightness(120%);
  }

  .sd-il-back {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center;
  }

  .sd-il-med .sd-il-back {
		top: 0.5rem;
    bottom: 0.5rem;
    right: 0.5rem;
    left: 0.5rem;
  }

  .sd-il-lg .sd-il-back {

		top: 1rem;
      bottom: 1rem;
      right: 1rem;
      left: 1rem;
  }

  .sd-il-box {
    z-index: 1;
  text-align: center;	
    width: auto;
	
      margin-bottom: 1rem !important;
      pointer-events: none;
  }

  .sd-il-med .sd-il-box {
    margin-bottom: 1.5rem !important;
  }

  .sd-il-lg .sd-il-box {
    margin-bottom: 2rem !important;
}

.sd-il-box hr {
    border-width: 3px;
    width: 30%;
    border-color: black;
    margin: 0.4rem auto;
}

.sd-il-link {
 font-size: 1rem;
}

.sd-il-title {
 font-size: 2rem;
}