.sd-prop-but-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sd-prop-but-item {
	flex: 1;
    min-width: 320px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sd-prop-but-action {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.sd-prop-but-action.sd-prop-multi {
    border-left: 1px solid #999;
} 

.sd-prop-but-action.sd-prop-multi label {
    padding-left: 5px;
    width: 125px;
}

.sd-prop-but-item div {
    margin-bottom: 8px;
}

.sd-prop-but-order-wrapper {
    border: 1px solid #ccc;
    padding: 5px;
    width: 210px;
}

.sd-prop-but-single .sd-prop-but-item {
    border: 0;
}

.sd-prop-but-order-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.sd-prop-but-order-wrapper li {
    width: 200px;
    height: 25px;
    background: linear-gradient(0, #4075FF, #7D98FF);
    margin: 5px;
    line-height: 25px;
    text-align: center;
    border-radius: 5px; 
    cursor: move;
}

.sd-prop-order-cont label {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.sd-prop-but-rm {
    height: 16px;
    width: 16px;
    background: none;
    border: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url(../../../../styles/img/deletew.png);
    background-size:  auto 100%; 
    background-repeat: no-repeat;
    background-position: center;
}

.sd-prop-but-rm:hover {
    opacity: 0.8;
}

.sd-prop-but-add {
	float: right;
    background: none;
    border: 0;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding-left: 20px;
    color: var(--color-text-light);
    background-image: url(../../../../styles/img/icons8-add_filled.png);
}

.sd-prop-but-add:hover {
    color: #fff;
}

.sd-but-catalog, .sd-but-patterns, .sd-but-img, .sd-but-link-manager, .sd-but-catalogSound, .sd-txt-full {
    background-color: var(--main-back-color); 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: none;
}

button.sd-but-catalog-close, .sd-but-patterns button, .sd-but-img button, .sd-but-link-manager button, .sd-but-catalogSound button, .sd-txt-full button {
    border: 0;
    background: none;
    background-image: url(../../../../styles/img/icons8-delete_sign.png);
    background-size: 100%; 
    height: 25px;
    width: 25px;
    margin: 3px;
    z-index: 20;
}

.sd-but-catalog.visible, .sd-but-patterns.visible, .sd-but-img.visible, .sd-but-link-manager.visible, .sd-but-catalogSound.visible, .sd-txt-full.visible {
    display: block;
}

.sd-but-catalog-list {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 30px;
	display: flex;
	flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
}

.sd-but-cont {
    position: absolute;
    right: 5px;
    left: 10px;
    bottom: 0;
    top: 10px;   
    overflow: auto;
}