.sd-publish {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 40px;
    color: var(--default-text-color); 
}

.sd-publish label  {
  color: var(--secondary-text-color);
}

.sg-publish-path {
  font-size: 14px;
}

.sd-publish-option {
  background-color: var(--back-secondary-color);
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.sg-publish-path {
  display: inline-block;
  padding-left: 10px;
}

.sg-help-button {
  background: none;
  border: 0;
  background-image: url(../../../styles/img/icons8-help.png);
  width: 30px;
  height: 30px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: bottom;
} 