.sd_builder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sd_builder_workspace {
    position: absolute;
    top: 0;
    left: 0;
    right: 50px;
    bottom: 0;
    background-color: #fff;
}

.sd_builder_workspace.sd-f-wrapper-s {
    width: 350px;
    right: auto;
    left: 50%;
    margin-left: -200px !important;
    border: 10px solid #000;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #090909;
}

.sd_builder_workspace.sd-f-wrapper-m {

    right: 20%;
    left: 15%;
    border: 10px solid #000;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #090909;
}

.sd_builder_side {
    position: absolute;
    top: 0;
    width: 49px;
    bottom: 0;
    right: 0;
    border-left: 1px solid var(--border-grey-color);
}

.sd_builder .columns {
    position: relative;
}