.bal_sc_button {
	left: 30%;
	right: 30%;
	position: absolute;
	bottom: 20px;
	height: 30px;
	border: 0;
	border-radius: 5px;
	background-color: #fae905; 
	top: 10px; 
}

.bal_sc_button:disabled {
	opacity: 0.5;
}