.sd_editor_side {
	position: absolute;
	bottom: 0;
	left: -230px;
	width: 229px;
	top: 50px;
	background-color: #fff;
	opacity: 0;
	-webkit-transition: opacity 0.1s linear, left 0.1s linear;
	-webkit-user-select: none;
	color: rgb(39, 39, 39);
	border-right: 1px solid var(--border-grey-color); 
}

.sd_editor_side.sd_visible {
	opacity: 1;
	left: 0;
}

.sd_toolmenu {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: auto;
}

.sd_editor_side.sd_visible.sd_respswitch .sd_toolmenu {
	bottom: 40px;
}

.sd_editor_work {
	position: absolute;
	overflow: auto;
	bottom: 0;
	right: 0px;
	top: 50px;
	background-color: var(--main-back-color);
	opacity: 0;
	-webkit-transition: opacity 0.1s linear, left 0.1s linear;
}

.sd_editor_work.sd_visible {
	opacity: 1;
    left: 230px;
}

.sd_menu {
	
	list-style: none;
	padding: 0;
	text-align: left;
	
}

.sd_menu li {
	height: 30px;
	line-height: 30px;
	padding-left: 20px;
	font-size: 13px;
    cursor: default;
}

.sd_menu li:not(.sd_menu_title) {
    background-color: var(--back-secondary-color);
}

.sd_menu li.sd_active {
	color: rgb(34, 131, 246);
}

.sd_menu li:not(.sd_menu_title):not(.sd_active):hover {
	/*background-color: #f0f5fc;*/
	color: #999;
}

.sd_menu_title {
	color: rgb(127,127,127);
	font-style: italic;
}

li.sd_menu_nav {
	background-color: #eee; 
}

.sd-rich-text-edit {
    background-color: #fff;
}

.ql-toolbar.ql-snow {
    margin-top: 15px;
	background-color: var(--back-secondary-color);
}
	
.sp-container {
	z-index: 999999999 !important;
}