label {
    color: var(--secondary-text-color);
	font-size: 14px; 
	width: 190px;
	display: inline-block;
	
}

label.sd-label-small {
	font-size: 12px;
	font-style: italic;
}

.sd_propertiesPanel label {
    color: #fff;
}

input[type=checkbox] {
	margin-right: 80px;
}

input[type=text] {
	font-weight: normal;
	background-color: #fff;
	color: var(--default-text-color);
	font-size: 12px;
	padding-left: 6px;
}

input[type=text].bal {
	outline: none;
}

input[type=text].bal.medium {
	font-size: 120%;
	/* padding: 5px; */
	/* height: 30px; */
}

.sd-form-span {
	font-size: 12px;
	color: var(--default-text-color);
	padding-left: 4px;
}

.sd-form-about {
	color: red;
    font-size: 13px;
    background-color: rgb(255, 253, 213);
    padding: 10px;
    color: #656565;
    border-radius: 5px;
}

