body {
	margin: 0;
	overflow: hidden;	
}
html {
  	font-size: 100%;
	/*font-family: 'Roboto';*/
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
	position: absolute;
	height: 48px;
	left: 0;
	right: 0;
	text-align: left;
	font-size: 25px;
	line-height: 50px;
	color: var(--default-text-color);
	z-index: 0;
	overflow: hidden;
    border-top: 1px solid var(--border-grey-color);
    border-bottom: 1px solid var(--border-grey-color);
    background-color: var(--back-secondary-color);
}

.sd_header_logo {
	height: 50px;
	width: 80px;
	background-size: 35%;
	background-repeat: no-repeat; 
	background-position: 50%;
	background-image: url(./img/logoSledge200.png);
}

.sd_main {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: var(--default-back-color);
}



.bal_sc_box {
	width: 100%;
	text-align: center;
}

.bal_sc_welcome {
    margin-top: 40px;
	font-size: 180%;
}

.bal_sc_about {
	font-size: 100%;
}

.bal_sc_text {
	/* position: absolute; */
	left: 20%;
	right: 20%;
}

.ql-editor {
	background-color: #f7f7f7;
}


.sg_props_menu {
	list-style: none;
    margin: 0;
    padding: 0;
}

.sg_props_menu li {
	border-bottom: 1px solid #999;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #eee;
}

.sg_props_menu li input {
    margin-right: 10px;
}