.sd_navigator {
    position: absolute;
	display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
		color: var(--default-text-color);
		
}

.sd_navigator_props_wrapper sd-viewsettings {
	position: relative;
	display: flex;
	width: 100%;
	height: 550px;
}

.sd-page-set-tab {
	display: none;
}

.sd-page-set-tab.sd-visible {
	display: block;
}

.sd_navigator_props_wrapper ul {
	list-style: none;
	padding: 0;
	margin-bottom: 40px;
}

.sd_navigator_props_wrapper li {
	color: var(--default-text-color);
	width: auto;
  margin-right: 20px;
  float: left;
	height: 25px;
	cursor: default;
    font-size: 12px;
}

.sd_navigator_props_wrapper li.sd-active {
	border-bottom: 5px solid var(--default-blue-text-color);
}

.sd_navigator_props_wrapper sd-viewsettings label {
	color: var(--secondary-text-color);
}

.sd_navigator_props_wrapper sd-viewsettings .sd_dockmenu_top {
	color: var(--secondary-text-color);
	background-color: #eee;
}

.sd_navigator_props_wrapper sd-viewsettings .sd-prop-remove-media {
	color: var(--secondary-text-color);
	border-color: var(--secondary-text-color);
}

.sd_navigator_props_wrapper sd-viewsettings .sd_dockmenu_content {
	top: 0;
}

.sd_navigator_props_wrapper sd-viewsettings .sd-prop-preview {
	background-color: #d5d5d5;
}

.sd_navigator_props_wrapper sd-viewsettings .sd-but-cont {
	top: 0;
	right: 0;
	left: 0;
}

.sd_navigator_props_wrapper sd-viewsettings .sd-but-cont label {
	padding-left: 0;
}

#sg-page-set-gen p {
	display: flex;
  align-items: flex-start;
}

#sg-page-set-gen p textarea {
	margin-left: 2px;
    border-color: #dbdbdb;
    width: 156px;
}

#sd-script-editor-before, #sd-script-editor-after, #sd-script-editor-load, #sd-script-editor-tags {
	width: 100%;
	height: 400px;
	position: relative; 
	margin-bottom: 20px;
	margin-top: 10px;
}

.sd_nav_view {
	position: absolute;
	background: #fff;
	top: 15%;
	left: 10%;
	right: 10%;
	bottom: 15%;
}

.sd_nav_view_name {
	color: #999;
	position: absolute;
	height: 50px;
	margin-top: -25px;
	top: 50%;
	left: 10px;
	right: 10px;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
}

.sd_navigator_switch {
	left: 10px;
	right: 10px;
	top: 10px;
    height: 30px;
    background-color: red;
    position: absolute;
}

.sd_navigator_content {
	left: 0;
	right: 0px;
	top: 50px;
	bottom: 0;
    position: absolute;
    background-color: blue;
}

.sd_navigator_page_wrapper {
	position: relative;
	width: 50%;
		border-right: 1px solid var(--border-grey-color);
		overflow: auto;
}

.sd_navigator_page {
	position: absolute;
	left: 10%;
	right: 10%;
	bottom: 10%;
	top: 10%;
	box-shadow: 0 0 20px #c8c8c8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sd_navigator_page_wrapper-top {
    position: absolute;
	height: 40px;
	border-bottom: 1px solid #9f9f9f;
	left: 0;
	right: 0;
	top: 0;
	overflow: hidden;
	text-align: center;
	line-height: 40px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-image: linear-gradient(#ccc 36.55%, rgb(182, 182, 182) 78.57%, #989898);
}

.sd_navigator_page_wrapper-top div {
	position: relative;
	width: 40px;
	height: 100%;
	float: left;
	color: #999;
}

.sd_navigator_page_wrapper-top span {
	float: left;
	font-size: 11px;
	background-color: #fff;
	width: 50%;
	height: 20px;
	margin-top: 10px;
	border-radius: 15px;
	line-height: 23px;
	text-align: left;
	padding-left: 15px;
	box-sizing: border-box;
	color: #ccc;
} 

.sd_navigator_page_wrapper-content {
    position: absolute;
    /*background-color: #fff;*/
	bottom: 0;
	left: 0;
	right: 0;
	top: 41px;
	overflow: auto;
}

.sd_navigator_page_wrapper-content.sd_controller_side {
	left: 100px;
}

.sd_navigator_page_wrapper_side_content {
	position: absolute;
	background-color: #999;
	bottom: 0;
	left: 0;
	width: 100px;
	top: 41px;
}

.sd_navigator_props_wrapper {
	position: relative;
  width: 50%;
	padding: 2%;
	box-sizing: border-box;
	overflow: auto;	
}

.sd_navigator_props_wrapper p.help {
	font-size: 12px;
	color: var(--color-text-dark);
	font-style: italic;
}

.sd_view_actions {
	text-align: center;
	position: absolute;
	right: 0;
	left: 0;
	margin-top: -40px;
	top: 50%;
	height: 40px;
	padding: 20px 0 20px 0;
	background-color: rgba(163, 165, 177, 0.48);
}

.sd_view_actions button {
	background: none;
	border: none;
	text-decoration: underline;
}

.sd_view_container, .sd_view_side_container  {
	height: 100%;
	width: 100%;
	position: relative;	
}

.sd_controller_strip .sd_view_container, .sd_controller_strip .sd_view_side_container {
	height: 200px;
	background-color: #ccc;
	position: relative;	
}

.sd_disable_childs .sd_view_container *, .sd_disable_childs .sd_view_side_container * {
	pointer-events: none;
}

.grid-item {
	height: 100px;
	margin-bottom: 5px;
}

.sd-view-drag {
	list-style: none;
}

.sd_navigator_page_wrapper li[data-kind="view"] {
	list-style: none;
	color: var(--color-text-dark);
	background-color: #ccc;
	margin-bottom: 5px;
	padding-top: 10px;
	text-align: center;
}