
.sd-insertRow {
	position: relative;
	width: 100%;
	height: 15px;
	-webkit-transition: all 0.3s ease-in-out;
	background-color: rgb(0, 132, 255);
}

.sd-insertRow.sd-ready, .sd-insertCol.sd-ready  {
	background-color: rgba(212, 226, 255, 0.8) !important;
}

.sd-insertCol {
	-webkit-transition: all 0.3s ease-in-out;
}

.sd-splitH {
	position: absolute;
	background-color: #999;
	height: 10px;
	width: 5%;
	margin-top: -5px;
	top: 50%;
}

.sd-splitV {
	position: absolute;
	background-color: #999;
	height: 30px;
	width: 10px;
	margin-left: -5px;
	left: 50%;
	margin-top: -15px;
	top: 50%;
}

.sd-onDrag .row {
	background-color: rgba(232, 137, 131, 0.5); 
}

.sd-onDrag .columns {
}

.sd-dragZone {
	position: absolute;
}

.sd-dragZone.sd-stop {
	background-color: rgba(232, 137, 131, 0.5) !important;
}

.sd-dragZone .sd-top {
	position: absolute;
	right: 5%;
	left: 5%;
	height: 15px;
}

.sd-dragZone .sd-bottom {
	position: absolute;
	right: 5%;
	left: 5%;
	height: 15px;
	bottom: 0;
	background-color: blue;
}

.sd-dragZone .sd-left {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0;
	background-color: rgba(219, 228, 255, 0.59);
}

.sd-dragZone .sd-right {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	background-color: rgba(219, 228, 255, 0.59);
}

.sd-dragZone.b-horizontal .sd-left {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0;
	background-color: rgba(219, 228, 255, 0.59);
}

.sd-dragZone.b-horizontal .sd-right {
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0;
	background-color: rgba(219, 228, 255, 0.59);
}

.sd-dragZone .sd-left.sd-active, .sd-dragZone .sd-right.sd-active {
	background-color: rgba(155, 155, 255, 0.8);

}