:root {
    --main-back-color: #ffffff;
    --color-text-light: #babcd7;
    --color-text-dark: #858699;
    --color-dark-top: #413d3c;
    --color-dark-top-text: #f3ecec;
    --color-dark-content: rgba(73, 69, 72, 0.9);
    --back-secondary-color: rgb(236, 236,236);
    --default-text-color: rgb(39,39,39);
    --default-blue-text-color: rgb(34, 131, 246);
    --border-grey-color: rgb(179,179,179);
    --border-light-color: #e5e5e5;
    --secondary-text-color: rgb(127,127,127);
    --switch-button-yes: #d1ebff;
    --switch-button-no: #ffd407;
}

