html {
	margin: 0;
}


.columns * {
	/*pointer-events: none;*/
}

.on-select .columns:not(.bn-selected) {
	/*pointer-events: none;*/
	opacity: 0.6;
	-webkit-filter: blur(2px);
}

.on-select .columns {
	pointer-events: none;
}

aside {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	border-right: 1px solid #eee;
}

footer {
	position: absolute;
	height: 30px;
	left: 260px;
	bottom: 5px;
	right: 0;
}

section {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 1px solid #eee;
}

.columns:not(.b-insertCol) {
	min-height: 20px;
	border: 1px solid #ccc;
}

.columns.b-hiddenForDrag {
	display: none;
}

.bodyWrapper {
	position: absolute;
	top: 10px;
	left: 260px;
	bottom: 40px;
	right: 10px;
	overflow: auto;

}

#pagebody {
	-webkit-transform: scale(1); 
	-webkit-transform-origin: 0 0;
}

.b-footerbutton {
	background: none;
	color: #999;
	height: 30px;
	padding: 0;
	margin-right: 10px; 
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60%;
	width: 30px;
	border-radius: 20px;
}

button.b-footerbutton:hover {
	cursor: default;
}

button.b-footerbutton:not(.b-active):hover {
	background-color: #fff; 
}

.b-footerbutton.b-active {
	background-color: #ccc;
}

.b-footerbutton.b-small {
	background-size: 60%;
	background-image: url(images/footer/iphone_copyrighted_filled.png);
}

.b-footerbutton.b-medium {
	background-image: url(images/footer/ipad_copyrighted_filled.png);
}

.b-footerbutton.b-large {
	background-image: url(images/footer/computer_filled.png);
}

.b-separator {
	display: inline-block;
	width: 20px;
	margin-left: 10px;
	border-left: 1px solid #eee;
	height: 29px;
}

.b-footerRange {
	height: 28px;
}

.b-dragHelper {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	line-height: 50px;
	color: #000;
	font-size: 10px;
	text-align: center;
	background-color: rgba(212, 226, 255, 0.8);
	z-index: 9999999999;
	opacity: 0.5;
}

.b-insertRow {
	position: relative;
	width: 100%;
	height: 15px;
	-webkit-transition: all 0.3s ease-in-out;
}

.b-insertRow.b-ready, .b-insertCol.b-ready  {
	background-color: rgba(212, 226, 255, 0.8) !important;
}

.b-insertCol {
	-webkit-transition: all 0.3s ease-in-out;
}

.b-actionZone {
	position: absolute;
	background-color: rgba(219, 228, 255, 0.59);
}

.b-splitH {
	position: absolute;
	background-color: #999;
	height: 10px;
	width: 5%;
	margin-top: -5px;
	top: 50%;
}

.b-splitV {
	position: absolute;
	background-color: #999;
	height: 30px;
	width: 10px;
	margin-left: -5px;
	left: 50%;
	margin-top: -15px;
	top: 50%;
}

.b-onDrag .row {
	background-color: rgba(232, 137, 131, 0.5); 
}

.b-onDrag .columns {
	background-color: #fff; 	
}

.b-dragZone {
	position: absolute;
}

.b-dragZone.b-stop, .b-actionZone.b-stop {
	background-color: rgba(232, 137, 131, 0.5) !important;
}

.b-dragZone .b-top {
	position: absolute;
	right: 5%;
	left: 5%;
	height: 15px;
}

.b-dragZone .b-bottom {
	position: absolute;
	right: 5%;
	left: 5%;
	height: 15px;
	bottom: 0;
	background-color: blue;
}

.b-dragZone .b-left {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0;
	background-color: rgba(219, 228, 255, 0.59);
}

.b-dragZone .b-right {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	background-color: rgba(219, 228, 255, 0.59);
}

.b-dragZone.b-horizontal .b-left {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0;
	background-color: rgba(219, 228, 255, 0.59);
}

.b-dragZone.b-horizontal .b-right {
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0;
	background-color: rgba(219, 228, 255, 0.59);
}

.b-dragZone .b-left.b-active, .b-dragZone .b-right.b-active {
	background-color: rgba(155, 155, 255, 0.8);

}