.sd-f-wrapper-s .sg-polaroid-cont {
	height: 175px;
	width: 150px;
}

.sd-f-wrapper-s .sg-polaroid-cont.sd-pol-1 {
  left: 50%;
  margin-left: -75px;
  top: 50%;
  margin-top: -90px;
  z-index: 2;
}

.sd-f-wrapper-s .sg-polaroid-cont.sd-pol-2 {
  left: 50%;
  margin-left: -140px;
  top: 50%;
  margin-top: -80px;
  transform: rotate(-7deg);
  z-index: 1;
}

.sd-f-wrapper-s .sg-polaroid-cont.sd-pol-3 {
  left: 50%;
  margin-left: 0px;
  top: 50%;
  margin-top: -100px;
  transform: rotate(7deg) ;
  z-index: 1;
}

.sd-f-wrapper-s .sg-polaroid-img {
 height: 140px;	
 width: 140px; 
 margin-top: 5px !important;
}

.sd-f-wrapper-s .sg-polaroid-txt {

    font-size: 20px;
    height: 30px;
    line-height: 30px;
    
}
