 .sg_header-polaroid {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.sg-polaroid-cont {
	position: absolute;
	height: 235px;
	width: 200px;
	/* background-color: #eee; */
	background-image: linear-gradient(10deg, rgba(238, 238, 238, 1), #fff) ;
	box-shadow: 1px 2px 5px #4e4e4e;
	border-radius: 2px;
}

.sg-polaroid-cont.sd-pol-1 {
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -117px;
  z-index: 2;
}

.sg-polaroid-cont.sd-pol-2 {
  left: 50%;
  margin-left: -300px;
  top: 50%;
  margin-top: -100px;
  transform: rotate(-7deg);
  z-index: 1;
}

.sg-polaroid-cont.sd-pol-3 {
  left: 50%;
  margin-left: 80px;
  top: 50%;
  margin-top: -120px;
  transform: rotate(7deg) ;
  z-index: 1;
}

.sg-polaroid-img {
 height: 190px;	
 width: 190px;
 background-image: url(../../../styles/img/logoSledge200.png);
margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 5px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
	box-shadow: 0px 0px 3px #999 inset;
}

.sg-polaroid-txt {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
}

.sg_header-polaroid.sg-logo-bottomcenter .sg-logo {
  margin-bottom: 20px;
}

.sg_header-polaroid.sg-logo-bottomcenter .sg-polaroid-cont.sd-pol-1 {
  margin-top: -140px;
}

.sg_header-polaroid.sg-logo-bottomcenter .sg-polaroid-cont.sd-pol-2 {
  margin-top: -120px;
}

.sg_header-polaroid.sg-logo-bottomcenter .sg-polaroid-cont.sd-pol-3 {
  margin-top: -130px;
}

.sg_header-polaroid .sg-menu span {
  z-index: 1;
}

 .sg_header-polaroid .sg-menu {
  z-index: 1;
}

