.columns.sg_marketing-section {
    padding-left: 0;
    padding-right: 0;
	display: flex;
    justify-content: center;
}

.sg-mark-section-wrapper {
    display: flex;
    flex-direction: row;
	flex: 1;
    max-width: 1200px;
}

.sg-mark-section-wrapper.sg-position-right {
    flex-direction: row-reverse;
}

div.sg-mark-section-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 3vw;
}

div.sg-mark-section-img {
    flex: 1;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
}
