:root {
   --propside-width: 40px;
}

.sd_propertiesPanel {
    position: absolute;
    left: 100px;
    top: 100px;
    height: 410px;
    width: 410px;
    background-color: var(--color-dark-content);
    z-index: 99999999;
    display: none;
    box-shadow: 1px 1px 20px #999;
}

.sd_propertiesPanel select {
    margin: 0;
}

.sd_propertiesPanel .ui-resizable-e {
    position: absolute;
    width: 10px;
    right: 0;
    top: 20px;
    bottom: 10px;
    cursor: ew-resize;
}

.sd_propertiesPanel .ui-resizable-s {
    position: absolute;
    height: 10px;
    left: 0;
    bottom: 0;
    right: 10px;
    cursor: ns-resize;
}

.sd_propertiesPanel .ui-resizable-se {
    position: absolute;
    height: 10px;
    width: 10px;
    right: 0;
    bottom: 0;
    cursor: nwse-resize;
}

.sd_propertiesPanel.sd-visible {
	display: block;
}

.propertiesVisible .sd_builder_workspace {
    -webkit-transition: all 0.2s linear;
    bottom: 300px;
}

.propertiesVisible .sd_dockmenu {
    -webkit-transition: all 0.2s linear;
    bottom: 300px;
}

.sd_pp_dragHandle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: var(--color-dark-top);
    text-align: center;
    color: var(--color-dark-top-text);
    font-size: 12px;
    line-height: 20px;
    cursor: move;
}

.sd_pp_content {
    right: 5px;
    left: 5px;
    top: 20px;
    bottom: 10px;
    position: absolute;
    padding: 10px;
    overflow: auto;
}

.sd_pp_content h2 {
    color: #fff;
}

.sd_sideMenuVisible .sd_pp_sideMenu {
    display: block;
}

.sd_sideMenuVisible .sd_pp_content {
    left: var(--propside-width);
}

.sd_prop_multi .sd_pp_content {
    top: 45px
}

.sd_pp_menu {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    height: 25px;
	background-color: rgb(181, 178, 183);
}

.sd_pp_menu li {
    font-size: 13px;
    float: left;
    padding: 5px;
    color: #4d4d4d;
    cursor: default;
}

.sd_pp_menu li:hover {
    color: #eee;
}

.sd_pp_menu li.sd_active {
    background-color: var(--color-dark-top);
    color: var(--color-dark-top-text);
}

.sd_prop_multi .sd_pp_menu {
    display: block;
}

.sd_pp_dragHandle button {
    background: none;
    border: 0;
    height: 20px;
    width: 20px;
    background-image: url(../../../styles/img/icons8-close_window.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    position: absolute;
    right: 0;
    
}

label.sd-full {
  width: 100%;
}

.sd_pp_content label {
    line-height: 2;
}