.sd-f-wrapper-s .sg_progress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

    
}

.sd-f-wrapper-s .sg_progress .sg_p_title {
    flex: 1;
    padding-right: 0;

}

.sd-f-wrapper-s .sg_progress .progress {
width: 100%;
}