.sg_progress {
  display: flex;
	flex-direction: row;
    align-items: center;
  /*padding-left: max(0.9375rem, env(safe-area-inset-left));
  padding-right: max(0.9375rem, env(safe-area-inset-right));*/
}

.sg_progress .sg_p_title {
    flex: 1;
    margin: 0;
    padding-right: 10px;
}

.sg_progress .progress {
    flex: 2;
        margin: 0;
}

