@media screen and (max-width: 40em) {
  .sg_progress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .sg_progress .sg_p_title {
      flex: 1;
      padding-right: 0;
  }
  
  .sg_progress .progress {
    width: 100%;
  }
}