.sg-prop-links {
  list-style: none;
  padding: 0;
  margin-top: 0;
  min-width: 370px;
}

.sg-prop-links li {
    height: 90px;
    background-color: #fff;
    border-bottom: 1px solid #999;
    padding-left: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sg-prop-links li div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sg-prop-links label {
    color: #464646;
    width: 80px;
}

.sg-prop-links span {
    display: inline-block;
    font-size: 12px;
    margin-left: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
}

.sg-prop-links span.sd-prop-list-spi {
    flex: 1;
}

.sg-prop-links input {
    flex: 1;
    margin-right: 40px;
}

.sg-prop-links li button:not(.sd-prop-links-rm) {
    margin-right: 40px;
}

.sg-prop-links button.sd-prop-links-rm {
	background: none;
    border: 0;
    background-image: url(../../../../styles/img/icons8-delete_sign.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.sd-prop-links-imp-prev {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.sd-but-link-manager label {
    color: var(--default-text-color);
}

.sd-but-link-manager .sd-but-catalog-list {
    padding: 20px;
}