.sd-settings-theme {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 50px;
  color: var(--default-text-color);
  overflow: auto;
}

.sd-settings-title {
}

.sd-settings-error {

}

.sd-settings-about {
	margin-bottom: 20px;
}

.sd-settings-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sd-settings-theme .sd-settings-list-item {
  width: 300px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #414141;
  box-sizing: border-box;
    background-color: var(--back-secondary-color); 
}

.sd-settings-list-item {
  border: 1px solid var(--border-grey-color);
}

.sd-settings-list-item.sd-settings-current {
  border: 1px solid var(--default-blue-text-color);
}

.sd-settings-list-item-title {
	text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
}

.sd-settings-list-item-preview {
    height: 150px;
    border: 0;
}

.sd-settings-list-item-about {
	padding: 10px 10px;
	height: 30px;
    text-align: center;
    font-size: 12px;
}

.sd-settings-list-item-actions {
	display: flex;
  padding: 5px;
    justify-content: center;
}


.sd-settings-current .sd-settings-list-item-actions {
    color: var(--default-blue-text-color);
}

.sd-settings-list-item-dl {
	height: 20px;
}

.sd-pending button {
  opacity: 0.5;
  pointer-events: none;
}