.sd-languages {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 40px;
}

#sd_lang_add {
  display: none;
}

.sd-languages label  {
  color: var(--secondary-text-color);
}

.sd-languages li button {
  	display: none;
    float: right;
    opacity: 0.8;
    background: none;
    border: 0;
    background-image: url(../../../styles/img/delete.png); 
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    height: 30px;
    width: 30px;
}

.sd-languages li button:hover {
  opacity: 1;
}

.sd-languages li:hover button {
  display: inline-block;
}

.sd-languages-cont {
  display: flex;
  flex-direction: row;
}

.sd-languages-list {
  flex: 1;
background-color: var(--back-secondary-color);
    padding: 0px 20px;
    border-radius: 10px;
}

.sd-languages-list ul {
	list-style: none;
    padding: 0;
}

.sd-languages-list li {
    height: 30px;
    line-height: 30px;
}

.sd-languages-add {
  flex: 1;
    padding: 0 20px;
}

.sd-languages-add button {
    margin-top: 10px;
    margin-left: 0;
    display: block;
}

.sd-languages-add label {
    width: 100%;
    margin-bottom: 10px;
}

.sd-languages-add input {
    width: 200px;
}

.sd-languages-settings {
	margin-top: 20px;
}

.sd-languages-settings > label {
    font-style: italic;
}

.sd-languages-settings p {
    display: flex;
}

.sd-languages-settings p label {
    min-width: 250px;
}

.sd-languages-settings textarea {
  border-color: #dbdbdb;
}