.sg_feature { 
  display: flex;
  flex-direction: row;
}

.sd-feature-section-img {
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  margin-right: 10px !important;
  text-align: center;
  line-height: 50px;
  font-size: 45px;
}

.sd-feature-section-img.sd-demo {
  background-image: url(./img/icons8-fountain_filled.png);  
}

.sd-feature-section-img.sd-feature-back {
  margin-top: 5px !important;
  background-size: 75%;
  font-size: 35px;
}

.sd-feature-section-img.sd-feature-round {
  border-radius: 100%;
  background-size: 60% !important;  
}

.sd-feature-section-img.sd-feature-medium {
  height: 80px;
  width: 80px;
  font-size: 70px;
  line-height: 80px;
}

.sd-feature-section-img.sd-feature-large {
  height: 100px;
  width: 100px;
  font-size: 95px;
  line-height: 100px;
}

.sd-feature-section-img.sd-feature-back.sd-feature-medium {
  font-size: 60px;
}

.sd-feature-section-img.sd-feature-back.sd-feature-large {
  font-size: 85px;
}

.sd-feature-section-txt {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.sg_feature.sd-feature-col .sd-feature-section-txt {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-RIGHT: 20px;
}

.sg_feature.sd-feature-col .sd-feature-section-img {
	margin-right: 0 !important;
}

.sg_feature.sd-feature-col {
  flex-direction: column;
   align-items: center;
}

.sg-feature-about {
  max-width: 500px;
}

.sd-text p {
  margin-bottom: 0 !important;
  line-height: 1.4 !important;
}
