@media screen and (max-width: 40em) {
  .sg_feature { 
    padding: 5px 5px 0px 5px;
  }
  
  .sg_feature.sd-feature-sb-medium {
    padding: 25px 25px 0 25px;
  }
  
  .sg_feature.sd-feature-sb-large {
    padding: 50px 50px 0 50px;
  }
  
  .sg_feature.sd-feature-sbo-small {
    padding-bottom: 5px;
  }
  
  .sg_feature.sd-feature-sbo-medium {
    padding-bottom: 25px;
  }
  
  .sg_feature.sd-feature-sbo-large {
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 40.063em) { 
  .sg_feature { 
    padding: 15px 15px 0px 15px;
  }
  
  .sg_feature.sd-feature-sb-medium {
    padding: 35px 35px 0 35px;
  }
  
  .sg_feature.sd-feature-sb-large {
    padding: 60px 60px 0 60px;
  }
  
  .sg_feature.sd-feature-sbo-small {
    padding-bottom: 15px;
  }
  
  .sg_feature.sd-feature-sbo-medium {
    padding-bottom: 35px;
  }
  
  .sg_feature.sd-feature-sbo-large {
    padding-bottom: 60px;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) { 
  .sg_feature { 
    padding: 20px 20px 0px 20px;
  }
  
  .sg_feature.sd-feature-sb-medium {
    padding: 40px 40px 0 40px;
  }
  
  .sg_feature.sd-feature-sb-large {
    padding: 65px 65px 0 65px;
  }
  
  .sg_feature.sd-feature-sbo-small {
    padding-bottom: 20px;
  }
  
  .sg_feature.sd-feature-sbo-medium {
    padding-bottom: 40px;
  }
  
  .sg_feature.sd-feature-sbo-large {
    padding-bottom: 65px;
  }
} /* min-width 1025px, large screens */


