.sd-f-wrapper-s .sg_feature { 
  padding: 5px 5px 0px 5px;
}
  
.sd-f-wrapper-s .sg_feature.sd-feature-sb-medium {
  padding: 25px 25px 0 25px;
}
  
.sd-f-wrapper-s .sg_feature.sd-feature-sb-large {
  padding: 50px 50px 0 50px;
}
  
.sd-f-wrapper-s .sg_feature.sd-feature-sbo-small {
  padding-bottom: 5px;
}
  
.sd-f-wrapper-s  .sg_feature.sd-feature-sbo-medium {
  padding-bottom: 25px;
}
  
.sd-f-wrapper-s .sg_feature.sd-feature-sbo-large {
  padding-bottom: 50px;
}

.sd-f-wrapper-m .sg_feature { 
  padding: 15px 15px 0px 15px;
}

.sd-f-wrapper-m .sg_feature.sd-feature-sb-medium {
  padding: 35px 35px 0 35px;
}

.sd-f-wrapper-m .sg_feature.sd-feature-sb-large {
  padding: 60px 60px 0 60px;
}

.sd-f-wrapper-m .sg_feature.sd-feature-sbo-small {
  padding-bottom: 15px;
}

.sd-f-wrapper-m .sg_feature.sd-feature-sbo-medium {
  padding-bottom: 35px;
}

.sd-f-wrapper-m .sg_feature.sd-feature-sbo-large {
  padding-bottom: 60px;
}


.sd-f-wrapper-l .sg_feature { 
  padding: 20px 20px 0px 20px;
}

.sd-f-wrapper-l .sg_feature.sd-feature-sb-medium {
  padding: 40px 40px 0 40px;
}

.sd-f-wrapper-l .sg_feature.sd-feature-sb-large {
  padding: 65px 65px 0 65px;
}

.sd-f-wrapper-l .sg_feature.sd-feature-sbo-small {
  padding-bottom: 20px;
}

.sd-f-wrapper-l .sg_feature.sd-feature-sbo-medium {
  padding-bottom: 40px;
}

.sd-f-wrapper-l .sg_feature.sd-feature-sbo-large {
  padding-bottom: 65px;
}
