.sd_dockpanel {
    position: absolute;
    background-color: var(--color-dark-content);
    z-index: 9999999;
    height: 300px;
    width: 250px;
    display: none;
}

.sd_dockpanel.sd_active {
    display: block;
}