.sd-f-wrapper-s .sg_testimonial .sg-testimonial-author-container .sg-testimonial-aut-info {
  margin-left: 1rem;
}

.sd-f-wrapper-m .sg_testimonial .sg-testimonial-content,
.sd-f-wrapper-l .sg_testimonial .sg-testimonial-content {
  padding: 1rem 4rem;
}