@media screen and (min-width: 40em) {
  .sg_testimonial .sg-testimonial-content {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .sg_testimonial .sg-testimonial-author-container .sg-testimonial-aut-info {
    margin-left: 1rem;
  }
}