@charset "UTF-8";

.sg_testimonial {
    padding: 40px 20px 40px 20px;
}

.sg_testimonial  .testimonial-slide {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sg_testimonial  .sg-testimonial-content {
  padding: 1rem 1.5rem;
}


.sg_testimonial  .sg-profile-pic {
  max-width: 225px;
}

.sg_testimonial .sg-testimonial-text {
    padding-left: 3rem;
}

.sg_testimonial .sg-testimonial-aut {
  display: inline-block;
}

.sg_testimonial .sg-testimonial-aut p {
  margin-bottom: 0 !important;
}

.sg_testimonial .sg-testimonial-quot {
  font-size: 1.2rem;
  position: relative;
}

.sg_testimonial  .sg-testimonial-quot::before {
  content: "“";
  font-size: 6rem;
  position: absolute;
  top: -3rem;
  left: -3rem;
}

.sg_testimonial .sg-testimonial-author-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sg_testimonial .sg-testimonial-img2 {
  max-height: 50px;
  max-width: 50px; 
}
