.sl-aa-audio-cont {
}

.sl-aa-audio-cont label {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.sl-aa-audio-img {
  height: 200px;
  margin-top: 0.9375rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; 
}

div.sl-aa-audio-ctrl {
  text-align: center;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
  border-radius: 0.9375rem;
}

.sl-aa-audio-buttons {
  text-align: center;
}

.sl-aa-audio-ctrl button.button {
  margin-bottom: 0;
}