.sd-settings {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 40px;
  color: var(--default-text-color);
}

.sd-settings .sg-help-button {
  height: 15px;
  background-position: center;
  background-size: 65%;
}

.sd-settings hr {
    margin-top: 20px;
}

.sd-settings label {
  width: 400px;
}

.sd-fav-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sd-fav-item {
    position: relative;
	background: var(--back-secondary-color);
    margin: 20px;
    width: 180px;
    height: 200px;
    align-content: center;
	align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px; 
}

.sd-fav-item label {
    text-align: center;
}

.sd-fav-img {
    display: flex;
        align-content: center;
	align-items: center;
  height: 140px;
}

.sd-fav-img img {
    max-height: 100px;
}
