.sd-mediaCatalog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 40px;
    overflow: auto;
    padding-right: 15px;
    color: rgb(39,39,39);
}

.sd-media-mask {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.sd-media-mask-video {
    bottom: 25px;
}

.sd-media-mask div {
    display: none;
}

.sd-media-mask button {
    background: none;
    border: 0;
}

.sd-media-mask.sd-confirm button.sd-media-rdel{
    display: none;
}

.sd-media-mask.sd-confirm div {
    display: flex;
    flex-direction: row;
}

.sd-media-mask button.sd-media-del {
    background-image: url(./img/icons8-checkmark.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center 40px;
    flex: 1;
    height: 150px;
    text-align: center;
    line-height: 200px;
    color: #eee;
    border-right: 1px solid #eee;
}

.sd-media-mask button.sd-media-cancel {
    background-image: url(./img/icons8-esc_filled.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center 40px;
    flex: 1;
    height: 150px;
    text-align: center;
    line-height: 200px;
    color: #eee;
}

.sd-media-mask-video button.sd-media-cancel, .sd-media-mask-video button.sd-media-del {
    height: 120px;
} 

.sd-media-mask button.sd-media-rdel {
    height: 100%;
    width: 100%;
    background-image: url(./img/icons8-delete.png);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}

.sd-media-item:hover .sd-media-mask {
    display: block;
}

.sd-mediaCatalog h1 {
    margin-left: 15px;
}

.sd-mediaCatalog h1 button {
    background: none;
    background-image: url(./img/icons8-add.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30px;
    width: 30px;
    border: 0;
}

.sd-media-item {
    position: relative;
    height: 150px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 15px;
    margin-bottom: 15px;
}

.sd-media-cont {
    display: flex;
    flex-wrap: wrap;
}

.sd-media-sound {
    background-image: url(./img/icons8-room_sound_filled.png);
    background-size: 30%;
    background-color: #eee;
    border-radius: 20px;
}

.sd-media-pdf {
    background-image: url(./img/icons8-pdf_2_filled.png);
    background-size: 30%;
    background-color: #eee;
    border-radius: 20px;
}

.sd-media-sound span, .sd-media-pdf span {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}