.sl-sp-audio-cont {
  width: 100%;
  display: flex;
  align-items: center;
  height: auto;
}

.sl-sp-audio-cont.sl-audio-radius {
  border-radius: 5px;
}

.sl-sp-audio-cont button.sl-audio-play {
  margin: 0;
  width: 40px;
}

.sl-sp-audio-cont label {
  margin-left: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
    flex: 1;
}

.sl-audio-wrapper {
  visibility: hidden;
  position: absolute;
}

.sl-sp-audio-cont .button {
  margin: 0 0 0 5px !important;
}