.sd_dashboard {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 50px;
	opacity: 1;
	-webkit-transition: opacity 0.1s linear;
    display: flex;
    flex-direction: row-reverse;
    background-color:var(--main-back-color);
}

.sd_dashboard iframe {
    width: 350px;
    border: 0;
    -webkit-user-select: none;
    border-left: 1px solid var(--border-grey-color);
}

.sd_dashboard.sd_hiden {
	opacity: 0;
}

.sd_dash_properties {
	background-color: #ccc;
	min-height: 100px;
	text-align: left;
}

.sd-dash-proj-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    align-content: start;
    flex: 1;
}

.sd-dash-proj-grid-item, .sd-dash-proj-grid-add {
	position: relative;
	height: 90px;
	width: 100px;
	margin: 5px;
	background-image: url(./img/icons8-prototype-grey.png);
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center 17px;
	cursor: default;
	border-radius: 10px;
    font-size: 13px;
}

.sd-dash-proj-grid-item.sd-current {
    background-image: url(./img/icons8-prototype.png);    
}

.sd-dash-proj-grid-add {
    background-position: center 10px;
    background-size: 45%;
    background-image: url(../../../styles/img/icons8-add.png);
}

.sd-dash-proj-grid-add:hover {
    background-color: var(--back-secondary-color);  
}

.sd-dash-proj-grid-add:hover div {
  color: #424242;
}

.sd-dash-proj-grid-item:not(.sd-current):hover {
    background-color: var(--back-secondary-color);

}

.sd-current {
    background-color: var(--back-secondary-color);
}

.sd-current div {
    color: var(--default-blue-text-color) !important;
}

.sd-dash-proj-grid-item div, .sd-dash-proj-grid-add div {
    position: absolute;
    bottom: 5px;
    text-align: center;
    left: 0;
    right: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--default-text-color);
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

.sd-update-mess {
    position: absolute;
    left: 20px;
    right: 370px;
    bottom: 20px;
    min-height: 10rem;
    background: #f3f3f3;
    box-shadow: 0px 0px 5px #afafaf;
    border-radius: 10px;
    padding: 0rem 1.5rem;
}

.sd-update-mess div:first-of-type {
    display: flex;
    align-items: center;
    color: var(--default-blue-text-color);
}

.sd-update-mess div:first-of-type h2 {
    flex: 1;
}

.sd-update-mess p {
	margin-top: 8px;
}

.sd-update-mess h4 {
    padding: 0 !important;
    margin-bottom: 20px !important;
}

.sd-update-mess ul {
    margin-top: 8px;
}

.sd-update-mess a.sd-update-link {
    float: right;
    font-size: 10px;
    margin-bottom: 15px;
}
