@media screen and (max-width: 40em) {
  .sg_orbit { 
    padding: 5px 0 5px 0;
  }

  .sg_orbit.sg-sb-medium { 
    padding: 25px 0 25px 0;
  }

  .sg_orbit.sg-sb-large { 
    padding: 50px 0 50px 0;
  }

  .orbit-slide div {
    height: 200px;
  }
  
  .sg-small .orbit-slide div {
    height: 210px;
  }
  
  .sg-large .orbit-slide div {
    height: 250px;
  }


}

@media only screen and (min-width: 40.063em) { 
  
  .sg_orbit { 
    padding: 15px 0 15px 0;
  }

  .sg_orbit.sg-sb-medium { 
    padding: 35px 0 35px 0;
  }

  .sg_orbit.sg-sb-large { 
    padding: 60px 0 60px 0;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) { 
  .sg_orbit { 
    padding: 20px 0 20px 0;
  }

  .sg_orbit.sg-sb-medium { 
    padding: 40px 0 40px 0;
  }

  .sg_orbit.sg-sb-large { 
    padding: 65px 0 65px 0;
  }
} /* min-width 1025px, large screens */
