.sd-f-wrapper-s  .sg_orbit { 
    padding: 5px 0 5px 0;
  }

.sd-f-wrapper-s .sg_orbit.sg-sb-medium { 
  padding: 25px 0 25px 0;
}

.sd-f-wrapper-s .sg_orbit.sg-sb-large { 
  padding: 50px 0 50px 0;
}
  
.sd-f-wrapper-m .sg_orbit { 
  padding: 15px 0 15px 0;
}

.sd-f-wrapper-m .sg_orbit.sg-sb-medium { 
  padding: 35px 0 35px 0;
}

.sd-f-wrapper-m .sg_orbit.sg-sb-large { 
  padding: 60px 0 60px 0;
}

.sd-f-wrapper-l .sg_orbit { 
  padding: 20px 0 20px 0;
}

.sd-f-wrapper-l .sg_orbit.sg-sb-medium { 
  padding: 40px 0 40px 0;
}

.sd-f-wrapper-l .sg_orbit.sg-sb-large { 
  padding: 65px 0 65px 0;
}

