.sg_orbit {
  padding-left: max(0.9375rem, env(safe-area-inset-left));
  padding-right: max(0.9375rem, env(safe-area-inset-right));
}

.orbit-slide div {
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
}

.sg-small .orbit-slide div {
  height: 200px;
}

.sg-large .orbit-slide div {
  height: 500px;
}

.orbit-caption {
  height: 60px !important;
}

.sg-small .orbit-caption {
  line-height: 0px;
  height: 30px !important;
}

/**/
