
.sd-f-wrapper-s .sg-mark-section-wrapper {
    flex-direction: column;
}

.sd-f-wrapper-s div.sg-mark-section-txt {
    padding: 2vw;
}

.sd-f-wrapper-s div.sg-mark-section-img {
    margin-top: 2vw;
    height: 250px !important;
    min-height: auto !important;
}

.sd-f-wrapper-s .sg-padding-medium div.sg-mark-section-img, .sd-f-wrapper-s .sg-padding-large div.sg-mark-section-img {
    margin-top: 0vw;
}

.sg-mark-section-img {
    background-image: url(./img/chairlift.jpg);
}