@media screen and (max-width: 40em) {
    
    .sg-mark-section-wrapper, .sg-mark-section-wrapper.sg-position-right {
        flex-direction: column;
    }
    
    div.sg-mark-section-txt {
        padding: 2vw;
    }
    
    div.sg-mark-section-img {
        margin-top: 5vw;
        height: 250px !important;
        min-height: auto !important;
    }

    .sg-padding-medium div.sg-mark-section-img, .sg-padding-large div.sg-mark-section-img {
        margin-top: 0vw;
    }
}