.sg_text {
  display: flex;
  align-items: center;
  padding-left: max(0.9375rem, env(safe-area-inset-left));
  padding-right: max(0.9375rem, env(safe-area-inset-right));
}

div.sg_text_cont {
  min-height: 10px;
  padding: 10px;
  width: 100%;
} 

div.sg_text_columns {
  column-gap: 20px;
}

div.sg_text_cont p {
  margin: 0;
}