.sd-color-scheme-cont {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sd-color-scheme-wrapper {
  height: 30px;
    display: flex;
    flex-direction: row;
}

.sd-color-scheme-wrapper div {
    height: 30px;
    flex: 1;
}

.sd-color-scheme-wrapper div:hover {
  box-shadow: 0px -4px 0px rgba(249, 205, 0, 0.80) inset;
}

.sd-color-sheme-rm {
  text-decoration: underline;
  font-style: italic;
  float: right;
}

.sd-color-sheme-rm:hover {
  font-weight: bold;
}