.sg-prop-social {
  list-style: none;
  padding: 0;
  margin-top: 0;
  width: 370px;
}

.sg-prop-social li {
    height: 40px;
    background-color: #eee;
    line-height: 40px;
    border-bottom: 1px solid #999;
    padding-left: 10px;
}

.sg-prop-social span {
    width: 150px;
    display: inline-block;
}

.sg-prop-social button {
	background: none;
    border: 0;
    background-image: url(../../../../styles/img/icons8-delete_sign.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    height: 30px;
    width: 30px;
	float: right;
    margin-top: 5px; 
}