.sd-componentsCatalog {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 40px;
  overflow: auto;
  padding-right: 15px;
    color: var(--default-text-color);
}

.sd-componentsCatalog-more {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    display: none;
    z-index: 1;
    background-color: var(--main-back-color);
}

.sd-componentsCatalog-more.sd-visible {
    display: block;
}

.sd-cc-box {
  padding: 6px 6px 0px 0px;
  margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.sd-componentsCatalog h1 {
	margin-left: 8px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sd-cc-box h3 {
    margin: 0 0 0 10px;
}

.sd-cc-box ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  padding-bottom: 8px;
}

.sd-cc-box ul li {
  width: 290px;
  height: 270px;
  flex-shrink: 0;
  margin: 15px 30px 15px 10px;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
}

.sd-cc-title {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   height: 20px;
    color: var(--secondary-text-color);

}

.sd-cc-added {
    background-image: url(./img/icons8-checkmark.png);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: left center;
    padding-left: 20px;
}

.sd-cc-about {
   position: absolute;
   left: 0;
   right: 0;
    bottom: 0;
    height: 65px;
    overflow: hidden;
    font-size: 13px;

}

.sd-cc-action {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    font-size: 10px;
    background: none;
    border: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center ;
    width: 20px;
    height: 20px;
}

.sd-cc-add {
    background-image: url(./img/icons8-add.png);
}

.sd-cc-cancel {
        background-size: 18px;
    background-image: url(./img/icons8-cancel.png);
}

.sd-cc-box ul li:hover .sd-cc-action {
    display: block;
}

.sd-cc-img {
   position: absolute;
    border-radius: 5px; 
   top: 25px;
    height: 170px;
   left: 0;
   right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://www.freewebheaders.com/wordpress/wp-content/gallery/global/world-business-header.jpg);
}