



.sd-color-reset {
  margin-top: 15px;
}

.sd-txt-align-cont {
    width: 150px;
    display: flex;
    flex-direction: row;
}

.sd-txt-align-cont button {
    border: 0;
    width: 20px;
    height: 20px;
    background-color: #eee;
    margin-right: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border-radius: 3px; 
}

.sd-txt-align-cont button.sd-selected {
    outline: 1px solid yellow;
    outline-offset: 2px;
}

.sd-txt-align-l {
    background-image: url(./img/icons8-align_left.png) !important;
}

.sd-txt-align-r {
    background-image: url(./img/icons8-align_right.png) !important;
}

.sd-txt-align-c {
    background-image: url(./img/icons8-align_center.png) !important;
}

.sd-txt-align-j {
    background-image: url(./img/icons8-align_justify.png) !important;
}