@media screen and (max-width: 40em) {
  
  .sg_link-dashboard { 
    padding-bottom: 20px;
  }
  
  .sg-link-card {  
    margin-top: 20px;
  }

  .sg_link-dashboard.sd-clink-bot-medium { 
    padding-bottom: 40px;
  }
  
  .sg_link-dashboard.sd-clink-top-medium .sg-link-card {  
    margin-top: 40px;
  }
  
  .sg_link-dashboard.sd-clink-bot-large { 
    padding-bottom: 50px;
  }
  
  .sg_link-dashboard.sd-clink-top-large .sg-link-card {  
    margin-top: 50px;
  }
}

@media only screen and (min-width: 40.063em) { 
  .sg_link-dashboard { 
    padding-bottom: 25px;
  }
  
  .sg-link-card {  
    margin-top: 25px;
  }
  
  .sg_link-dashboard.sd-clink-bot-medium { 
    padding-bottom: 50px;
  }
  
  .sg_link-dashboard.sd-clink-top-medium .sg-link-card {  
    margin-top: 50px;
  }
  
  .sg_link-dashboard.sd-clink-bot-large { 
    padding-bottom: 60px;
  }
  
  .sg_link-dashboard.sd-clink-top-large .sg-link-card {  
    margin-top: 60px;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) { 
  .sg_link-dashboard { 
    padding-bottom: 30px;
  }
  
  .sg-link-card {  
    margin-top: 30px;
  }
  
  .sg_link-dashboard.sd-clink-bot-medium { 
    padding-bottom: 60px;
  }
  
  .sg_link-dashboard.sd-clink-top-medium .sg-link-card {  
    margin-top: 60px;
  }
  
  .sg_link-dashboard.sd-clink-bot-large { 
    padding-bottom: 70px;
  }
  
  .sg_link-dashboard.sd-clink-top-large .sg-link-card {  
    margin-top: 70px;
  }
} /* min-width 1025px, large screens */


