  
.sd-f-wrapper-s .sg_link-dashboard { 
  padding-bottom: 20px;
}

.sd-f-wrapper-s .sg-link-card {  
  margin-top: 20px;
}

.sd-f-wrapper-s .sg_link-dashboard.sd-clink-bot-medium { 
  padding-bottom: 40px;
}

.sd-f-wrapper-s .sg_link-dashboard.sd-clink-top-medium .sg-link-card {  
  margin-top: 40px;
}

.sd-f-wrapper-s .sg_link-dashboard.sd-clink-bot-large { 
  padding-bottom: 50px;
}

.sd-f-wrapper-s .sg_link-dashboard.sd-clink-top-large .sg-link-card {  
  margin-top: 50px;
}

.sd-f-wrapper-m .sg_link-dashboard { 
  padding-bottom: 25px;
}

.sd-f-wrapper-m .sg-link-card {  
  margin-top: 25px;
}

.sd-f-wrapper-m .sg_link-dashboard.sd-clink-bot-medium { 
  padding-bottom: 50px;
}

.sd-f-wrapper-m .sg_link-dashboard.sd-clink-top-medium .sg-link-card {  
  margin-top: 50px;
}

.sd-f-wrapper-m .sg_link-dashboard.sd-clink-bot-large { 
  padding-bottom: 60px;
}

.sd-f-wrapper-m .sg_link-dashboard.sd-clink-top-large .sg-link-card {  
  margin-top: 60px;
}


.sd-f-wrapper-l .sg_link-dashboard { 
  padding-bottom: 30px;
}

.sd-f-wrapper-l .sg-link-card {  
  margin-top: 30px;
}

.sd-f-wrapper-l .sg_link-dashboard.sd-clink-bot-medium { 
  padding-bottom: 60px;
}

.sd-f-wrapper-l .sg_link-dashboard.sd-clink-top-medium .sg-link-card {  
  margin-top: 60px;
}

.sd-f-wrapper-l .sg_link-dashboard.sd-clink-bot-large { 
  padding-bottom: 70px;
}

.sd-f-wrapper-l .sg_link-dashboard.sd-clink-top-large .sg-link-card {  
  margin-top: 70px;
}


