.sg-link-card {  
  color: #fefefe !important;
  display: block;
  min-height: 100px;
  padding: 2rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.sg-link-card.sd-rounded {
  border-radius: 5px;
}

.sg-link-card:hover .sg-link-title,
.sg-link-card:hover .sg-link-icon {
  color: #fefefe;
}

.sg-link-card:hover .sg-link-icon {
  opacity: 1;
  transition: all 0.2s ease;
}

.sg-link-icon {
  font-size: 1.8rem;
  left: 1rem;
  opacity: 0.5;
  position: absolute;
  top: 1rem;
  transition: all 0.2s ease;
  width: auto;
}

.sg-link-title {
  bottom: 0;
  position: absolute;
  right: 1rem;
  text-align: right;
}
