@media print, screen and (min-width: 40em) {
  .sg-full-width-testimonial-section .sg-full-width-testimonial-text {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media print, screen and (min-width: 64em) {
  .sg-full-width-testimonial-section .sg-full-width-testimonial-text {
    padding-left: 180px;
    padding-right: 180px;
    font-size: 1.8em;
  }
}

@media screen and (min-width: 75em) {
  .sg-full-width-testimonial-section .sg-full-width-testimonial-text {
    padding-left: 300px;
    padding-right: 300px;
  }
}