
.sg_testimonial-full {
  background-position: center center;
  padding-bottom: 40px;
  padding-top: 40px;
  text-transform: uppercase;
}

.sg-full-width-testimonial-icon .quote-path {
  fill: none;
  stroke: #ffae00;
  stroke-width: 2.5192;
  stroke-miterlimit: 10;
}

.sg-full-width-testimonial-content,
.sg-full-width-testimonial-icon {
  text-align: center;
}

.sg-full-width-testimonial-section {
  padding-top: 2rem;
  position: relative;
  z-index: 3;
}

.sg-full-width-testimonial-section .sg-full-width-testimonial-text {
  font-weight: 300;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: -5px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5em;
}

.sg-full-width-testimonial-section .sg-full-width-testimonial-source {
  font-size: 1.2em;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 0;
  margin-bottom: 0.2em;
  font-size: 1.0em;
}

.sg-full-width-testimonial-section .sg-full-width-testimonial-source-context {
  display: block;
  font-size: 0.9em;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
}

.sg-full-width-testimonial-section .slick-slider {
  margin-bottom: 0px;
}

.sg-full-width-testimonial-text,
.sg-full-width-testimonial-content,
.sg-full-width-testimonial-source,
.sg-full-width-testimonial-icon {
  padding-bottom: 2rem;
}

.sg-full-width-testimonial-content {
  width: 100%;
}

