
.sd-f-wrapper-m .sg-full-width-testimonial-section .sg-full-width-testimonial-text {
  padding-left: 100px;
  padding-right: 100px;
}

.sd-f-wrapper-l .sg-full-width-testimonial-section .sg-full-width-testimonial-text {
  padding-left: 180px;
  padding-right: 180px;
  font-size: 1.8em;
}
