li.sd-prop-images-move {
    height: 50px;
    width: 100px;
    background-repeat: no-repeat !important;
    background-size: cover  !important;
    background-position: center !important;
}

.sd-props-images-order {
    width: 110px !important;
}
