:root {
   --selection-color: rgba(255, 233, 34, 0.95);
   --action-color: rgba(166, 165, 189, 0.73);
}

.sd-actionZone {
	position: absolute;
	background-color: rgba(219, 228, 255, 0.59);
	z-index: 999999;
}

.onContainerScroll .sd-actionZone {
	display: none;
}

.sd-actionZone.sd-stop {
	background-color: rgba(232, 137, 131, 0.8) !important;
}

.sd-actionZone-right {
    position: absolute;
    width: 10px;
    bottom: 10px;
    top: 10px;
    right: 0;
    cursor: ew-resize;
}

.sd-actionZone-right:not(.sd-resizePanding):hover {
	background-color: var(--action-color);
}

.sd-actionZone-left {
    position: absolute;
    width: 10px;
    bottom: 10px;
    top: 10px;
    left: 0;
    cursor: ew-resize;
}

.sd-actionZone-left:not(.sd-resizePanding):hover {
	background-color: var(--action-color);
}

.sd-actionZone-bottom {
    position: absolute;
    height: 10px;
    bottom: 0;
    right: 10px;
    left: 10px;
    cursor: ns-resize;
}

.sd-actionZone-bottom:not(.sd-resizePanding):hover {
	background-color: var(--action-color);
}

.sd_selected.sd-actionZone .sd-actionZone-left, 
.sd_selected.sd-actionZone .sd-actionZone-bottom,
.sd_selected.sd-actionZone .sd-actionZone-right {
	display: none;
}

.sd-hiddenForDrag {
	display: none;
	pointer-events: none;
}

.sd-disableForDrag {
	opacity: 0.5; 
}

.sd_selected {
    background: none;
	outline: 5px solid var(--selection-color, yellow);
    outline-offset: -4px;
}

.sd-component-rm {
	display: none;
	position: absolute;
	width: 20px;
	height: 20px;
    background-color: var(--selection-color, yellow);
	top: -1px;
	left: -18px;
	cursor: default;
	border-top-left-radius: 5px;
    transition: all 0.1s ease-in;
}

.sd-cancel .sd-component-rm {
	width: 120px;
    border-bottom-right-radius: 5px;
}

.sd-actionZone.sd_selected .sd-component-rm {
	display: block;
}

.sd-component-rm-main {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: absolute;
	background-image: url(../../../styles/img/delete.png);
	background-position: center;
	background-size: 14px;
	background-repeat: no-repeat;

}

.sd-component-rm-main:hover {
    background-size: 13px;
}

.sd-cancel .sd-component-rm-main {
	background-image: url(../../../styles/img/undo.png);
}

.sd-component-rm-conf {
	width: 0px;
	height: 20px;
	position: absolute;
	left: 20px;
	white-space: nowrap;
	font-size: 13px;
    transition: all 0.2s ease-in;
    overflow: hidden;
    line-height: 20px;
    background-image: url(../../../styles/img/icons8-checkmark.png);
	background-position: center right;
	background-size: 14px;
	background-repeat: no-repeat;
}

.sd-cancel .sd-component-rm-conf:hover {
	color: rgba(255, 10, 10, 0.98)
}

.sd-cancel .sd-component-rm-conf {
	padding-left: 10px;	
	width: 85px;
}

.columns * {
	pointer-events: none;
}

.sd-selection.columns * {
	pointer-events: auto;
}

.sd-prop-ghost {
	background-color: rgba(196, 207, 231, 0.9);
	border: 2px solid #999;
	position: absolute;
	border-radius: 5px;
	padding: 0;
	background-image: url(../../../styles/img/icons8-settings_filled.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 20px;
	z-index: 9999999;
}

.sd-prop-ghost.sd-selected {
	background: none;
}

.sd-component-edit {
    position: absolute;
    height: 20px;
    width: 20px;
    left: -18px;
    background-color: var(--selection-color, yellow);
    bottom: 0;
	background-image: url(../../../styles/img/icons8-settings_filled.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    top:18px;
	display: none;
    border-bottom-left-radius: 5px;
}

.sd-component-edit:hover {
    background-size: 13px;
}

.sd-actionZone.sd_selected .sd-component-edit.sd-selected {
    display: none;
}

.sd-actionZone.sd_selected .sd-component-edit {
	display: block;
}
