.sg_circle-header {
    padding: 0 !important;
    min-height: 90vh !important;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .sg_buttonset .button {
    margin-left: 2px;
  }

  .sg_buttonset .button:first-of-type {
    margin-left: 0;
  }

  .sd_ch_top {
      flex: 2;
      display: flex;
      flex-direction: row;
  }
 
  .sd_ch_top div, .sd_ch_bottom div {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
 
  .sd_ch_top div:first-of-type {
      flex: 1;
      margin: 2vh 0 2vh 2vh;
  }
  
  .sd_ch_top div:last-of-type {
      flex: 1;
      margin: 2vh;
  }
  
  .sd_ch_bottom {
      flex: 1;
      flex-direction: row;
      display: flex;
  }
  
  .sd_ch_bottom div {
       flex: 1;   
      margin: 0 2vh 2vh 0;    
  }
  
  .sd_ch_bottom div:first-of-type {
      margin: 0 2vh 2vh 2vh;    
  }
  
  div.sd_ch_circle {
      box-shadow: 0 1px 5px #000;
      position: absolute;
      border-radius: 100%;
      height: 70vh;
      width: 70vh;
      margin-left: -35vh;
      left: 50%;
      margin-top: -35vh;
      top: 50%;
      text-align: center;
      z-index: 2;
  }
  
  .sd_ch_circle .sg_footer-social {
      position: absolute;
      bottom: 1.5vh;
      width: 100%;
      display: flex;
      justify-content: center;
  }
  
  .sg_ch_title {
      position: absolute;
      width: 100%;
      padding-right: 4vh;
      padding-left: 4vh;
      top: 19vh;
      text-overflow: ellipsis;
      overflow: hidden;
    white-space: nowrap;
    font-size: 7vh !important;
  
  }

  .sd-ch-title-medium {
    font-size: 5.5vh !important;
  }

  .sd-ch-title-small {
    font-size: 3vh !important;
  }
  
  div.sd_ch_txt {
      position: absolute;
      width: 100%;
      top: 29vh;
      height: 22vh;
      padding-right: 6vh;
      padding-left: 5vh;
      overflow: auto;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
  }
  
  div.sd_ch_txt p {
      margin: 0 !important;
          padding: 0 !important;
  }
  
  div.sd_ch_logo {
      position: absolute;
      width: 25vh;
      height: 15vh;
      margin-left: -12.5vh;
      left: 50%;
      top: 4vh;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
  }
  
  .sd_ch_circle .sg_buttonset {
      position: absolute;
      bottom: 11vh;
      width: 100%; 
      left: 0;
  }

  .sg_circle-header .top-bar-left {
      z-index: 5;
  }