.sd-f-wrapper-s .sd_ch_top_l, .sd-f-wrapper-s .sd_ch_b2, .sd-f-wrapper-s .sd_ch_b4 {
  display: none;
}

.sd-f-wrapper-s .sd_ch_top_r {
  margin: 2vh !important;
}

.sd-f-wrapper-s div.sd_ch_circle {
  height: 320px;
  width: 320px;
  margin-left: -160px;
  margin-top: -160px;
}

.sd-f-wrapper-s .sg_circle-header {
    min-height: 60vh !important;

  }

.sd-f-wrapper-s div.sd_ch_txt {
  top: 70px;
  height: 200px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
}

.sd-f-wrapper-s .sg_ch_title { 
  padding-right: 2vw;
  padding-left: 2vw;
  top: 60px;
  font-size: 30px;
}
  
.sd-ch-title-medium {
  font-size: 25px;
}

.sd-ch-title-small {
  font-size: 20vh;
}

.sd-f-wrapper-s div.sd_ch_logo {
  width: 80px !important;
  height: 50px !important;
  margin-left: -40px  !important;
  top: 10px !important;
}
  
.sd-f-wrapper-s  .sd_ch_circle .sg_buttonset {
    bottom: 10vh;
}
   
.sd-f-wrapper-s div.sd_ch_logo {
  position: absolute;
  width: 15vw;
  height: 15vw;
  margin-left: -7.5vw;
  left: 50%;
  top: 4vw;
}
   
 .sd-f-wrapper-s .sd_ch_circle .sg_buttonset {
       bottom: 50px;
 }
   
 .sd-f-wrapper-s .sd_ch_circle .menu {
     bottom: 20px;
 }