@media screen and (max-width: 40em) { /* s */

  .sd_ch_top_l, .sd_ch_b2, .sd_ch_b4 {
    display: none;
  }

  .sd_ch_top_r {
    margin: 2vh !important;
  }

  div.sd_ch_circle {
   height: 100vw;
   width: 100vw;
   margin-left: -50vw;
   margin-top: -50vw;
 }
   
  div.sd_ch_txt {
   top: 33vw;
   height: 39vw;
   padding-right: 8vw;
   padding-left: 8vw;
      font-size: 3.5vw;
 }
   

  .sg_ch_title {
    padding-right: 2vw;
    padding-left: 2vw;
    top: 20vw;  
    font-size: 6vh !important;
    }

    .sd-ch-title-medium {
      font-size: 4.5vh !important;
    }

    .sd-ch-title-small {
      font-size: 2vh !important;
    }
   
   div.sd_ch_logo {
    width: 10vh;
    height: 10vh;
    margin-left: -5vh;
    top: 3vh;
  }
   
   .sd_ch_circle .sg_buttonset {
      bottom: 10vh;
   }
    
    div.sd_ch_logo {
        position: absolute;
        width: 15vw;
        height: 15vw;
        margin-left: -7.5vw;
        left: 50%;
        top: 4vw;
	}
    
    .sd_ch_circle .sg_buttonset {
        bottom: 15vw;
	}
    
    .sd_ch_circle .sg_footer-social {
	    bottom: 1.5vw;
	}
}


@media only screen and (max-height: 38em) and (min-width: 40em) {
  div.sd_ch_circle {
   height: 85vh;
   width: 85vh;
   margin-left: -42.5vh;
   margin-top: -42.5vh;
 }

 .sd_asMenu div.sd_ch_circle {
  height: 80vh;
  width: 80vh;
  margin-left: -40vh;
  margin-top: -35vh;
}
    
 div.sd_ch_txt {
     font-size: 3vh;
   top: 31vh;
   height: 30vh;
   padding-right: 8vh;
   padding-left: 8vh;
 }
}
