
.sd-foundation-icons-catalog {
  background-color: var(--main-back-color); 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  display: none;
}

.sd-foundation-icons-catalog button {
  border: 0;
  background: none;
  background-image: url(../../../../styles/img/icons8-delete_sign.png);
  background-size: 100%; 
  height: 25px;
  width: 25px;
  margin: 3px;
}

.sd-foundation-icons-catalog.visible {
  display: block;
}

.sd-foundation-catalog-list {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
}

.sd-glyphs-cat {
  font-size: 40px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
   margin-left: 10px;
}

.sd-glyphs-cat:hover {
   background-color: #eee;
}