.sg_simple-header {
  padding: 0 !important;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sg_simple-header .sg-top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 1;
}

.sg_simple-header .sg-logo {
  height: 100px;
  width: 100px;
  margin: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; 
  z-index: 1;
}

.sg_simple-header .sg-logo.sg-large {
  height: 200px;
  width: 200px;
}

.sg_simple-header .sg-logo.sg-small {
  height: 50px;
  width: 50px;
}

.sg_simple-header .menu-centered {
  justify-content: center;
  margin-top: 20px;
  z-index: 1;
}

.sg_simple-header .sg-menu-back-light {
  background-color: rgba(255, 255, 255, 0.5);
}

.sg_simple-header .sg-menu-back-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.sg_simple-header .sg-menu-back-light li {
  filter: brightness(45%);
}

.sg_simple-header .sg-menu-back-dark li {
  filter: brightness(140%);
}

.sg_simple-header.sg-transparent-light h1 {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.sg_simple-header.sg-transparent-dark h1 {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.sg_simple-header.sg-textshadow h1 {
  text-shadow: 1px 1px 1px #ffffff, -1px -1px 1px rgb(78, 78, 78);
}

.sg-rounded h1 {
  border-radius: 10px;
}