sd-image-selector {
  width: 100%;
  display: flex;
  flex-direction: column;
}

sd-image-selector ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 12px;
  white-space: nowrap;
  cursor: default;
}

sd-image-selector ul li {
  display: inline;
  font-size: 13px;
  padding: 3px 15px 3px 0px;
  color: var(--default-blue-text-color);
}

sd-image-selector ul li.sd-current {
  border-bottom: 2px solid var(--default-blue-text-color);
  background-color: rgba(0,0,0,0);
}

sd-image-selector h2 {
  color: var(--default-text-color) !important;
  margin: 0 0 2px 10px !important;
}

.sg-image-sel-wrapper > div {
  display: none;
  height: 100%;
  overflow: auto;
  background: none;
  /* justify-content: center; */
}

.sg-image-sel-wrapper div.sd-current {
  display: flex;
}

.sg-image-sel-cat, .sg-image-sel-logo {
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.sg-image-sel-wrapper {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.sd-prop-lists .sd-but-catalog-list {
  top: 8px;
}

.sd-prop-lists .sd-but-catalog-close {
  position: absolute;
  right: 0;
  top: 5px;
}

sd-image-selector .sd-prop-preview {
    width: 200px;
    background-color: #FFF;
}

sd-image-selector .sd-prop-preview-block {
    display: block;
}

.sg-image-sel-cur {
  flex-direction: column;
    align-items: center;
}

.sg-image-sel-cur button {
    margin-top: 10px;
}