.sg_buttons {
  
}

.sg_buttons .sg_buttonset {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.sg_buttons .sg_buttonset.sg-buttons-center {
  justify-content: center;
}

.sg_buttons .sg_buttonset.sg-buttons-right {
  justify-content: flex-end;
}

.sg_buttons .sg_buttonset.sg_vertical {
  flex-direction: column;
}

.sg_buttons .sg_buttonset a, .sg_buttons .sg_buttonset button {
	margin: 0 10px 0 0 !important;
}

.sg_buttons .sg_buttonset.sg_vertical a, .sg_buttons .sg_buttonset.sg_vertical button {
	margin: 0 0 10px 0 !important;
}

.sg_buttons .sg_buttonset.sg_vertical a:last-of-type, .sg_buttons .sg_buttonset.sg_vertical button:last-of-type {
	margin: 0 0 0 0 !important;
}

.sg_buttons .sg_buttonset {
  line-height: 40px;
}