.sd_dock_menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sd_dock_item {

    border-bottom: 1px solid var(--border-grey-color); 
    height: 49px;
    width: 49px;
    margin-left: 0px;
	cursor: default;
    display: flex;
	justify-content: center;
    align-items: flex-end;
    font-size: 8px;
}

.sd_dock_item:not(.sd-selected):hover {
    background-color: var(--back-secondary-color);
}

.sd_dock_item.sd-selected {
    background-color: #413d3c;
}

.sd_dockmenu_top {
    position: absolute;
    top: 0;
    height: 30px;
    left: 0;
    right: 0;
	line-height: 30px;
    background-color: var(--color-dark-top);
    text-align: center;
    color: var(--color-dark-top-text);
}   

.sd_dockmenu_content {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.sd_dockmenu_content label {
    color: #ffffff;
    width: 100%;
    padding: 10px;
}


.sd_dock_item[data-id="components"] {
    background-image: url(../../../styles/img/icons8-led_diode_filled.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.sd_dock_item[data-id="components"].sd-selected {
    background-image: url(../../../styles/img/icons8-led_diode_w.png);
}

.sd_dock_item[data-id="settings"] {
    background-image: url(../../../styles/img/icons8-settings_filled.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

.sd_dock_item[data-id="settings"].sd-selected {
    background-image: url(../../../styles/img/icons8-settings_filled_w.png);
}