.sg_full-marketing-section {
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.sg-fmark-section-txt {
    z-index: 1;
    padding: 10vh 20vw !important;
    width: 100%;
}
