.sg_view {
    /* background-color: #999; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/

}

.sg_view_wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}