.sd-but-catalogSound .sd-prop-list-sound {
  position: relative;
  background-size: 50%;
  background-position: center 10px;
}

.sd-psound-img-wrap {
    display: flex;
    flex-direction: row;
}

.sd-psound-img-prev {
display: none;
    height: 100px;
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hasImage .sd-psound-img-prev {
    display: block;
}

.sd-psound-img-ctrl {
	display: flex;
    flex: 1;
    flex-direction: column;
}

.hasImage .sd-psound-img-ctrl {
	flex-direction: column;
    justify-content: center;
}

