sd-properties-background {
	display: flex;
    flex-direction: column;
}

sd-properties-background label {
    margin-top: 15px;
    margin-bottom: 4px;
	width: 100%;
    color: #ccc;
}

.sd-prop-preview-block {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.sd-prop-preview-block-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sd-prop-preview-block button {
    height: 35px;
    min-width: 150px;
    background: none;
    border: 1px solid #eee;
    border-radius: 5px; 
    color: #eee;
    margin: 5px;
}

.sd-prop-preview-block select {
    min-width: 150px;
    margin: 3px;
}

.sd-prop-preview-block button:hover {
    color: rgb(178, 196, 239);
    border-color:  rgb(178, 196, 239);
}

.sd-prop-preview {
  	height: 110px;
	flex: 2;
    background-color: #000;
	background-position: center;
	background-size: contain; 
    border: 2px solid #ccc;
    border-radius: 10px; 
    background-repeat: no-repeat;
}

.sd-prop-library {
    position: relative;
    min-height: 100px;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sd-prop-list-prev {
	width: 80px;
    height: 80px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   	opacity: 1;
    margin: 5px;
    border: 1px solid #757575;
    border-radius: 5px; 
}

.sd-prop-list-theme, .sd-prop-list-theme-img {
	width: 80px;
    height: 80px;
   	opacity: 1;
    margin: 5px;
    border: 1px solid #757575;
    border-radius: 5px; 
    text-align: center;
    line-height: 120px;
    font-size: 12px;
    color: #6f6f6f;
    position: relative;
}

.sd-prop-list-theme span, .sd-prop-list-theme-img span {
	background-color: rgba(255,255,255,0.7);
    border-radius: 30px;
    padding: 5px;
    border: 1px solid #ddd;
    cursor: default;
    position: absolute;
    display: block;
    bottom: 2px;
    height: 20px;
    left: 2px;
    right: 2px;
    overflow: hidden;
    line-height: 20px;
    text-overflow: ellipsis;
    pointer-events: none;
}

.sd-prop-list-prev:hover, .sd-prop-list-theme:hover, .sd-prop-list-theme-img:hover {
	opacity: 0.8;
}

.sd-prop-bg-color, .sp-replacer.sp-light {
  width: 43px;
}