@media screen and (min-width: 40em) {
  .sg-central-block {
    background-position: center center;
  }
}

@media screen and (min-width: 40em) {
  .sg_header:not(.sg-position-center):not(.sg-position-left) .sg-central-block-content {
    margin-left: 50%;
  }

  .sg_header:not(.sg-position-center):not(.sg-position-left) .sg-logo:not(.sg-logo-menu):not(.sg-logo-topright):not(.sg-logo-topleft) {
    margin-left: 50% !important;
  }
}

@media screen and (max-width: 40em) {
  .sg_header:not(.sg-position-center):not(.sg-position-left) .sg-central-block-content {
    width: 100% !important;
  }
  .sg-central-block-content {
    width: 100% !important;
  }
}
