
.sd-f-wrapper-m sg-header:not(.sg-position-center):not(.sg-position-left) .sg-central-block-content {
    margin-left: 50% !important;
}

.sd-f-wrapper-m .sg-central-block {
    background-position: center center !important;
}

.sd-f-wrapper-l sg-header:not(.sg-position-center):not(.sg-position-left) .sg-logo:not(.sg-logo-menu):not(.sg-logo-topright):not(.sg-logo-topleft),
.sd-f-wrapper-m sg-header:not(.sg-position-center):not(.sg-position-left) .sg-logo:not(.sg-logo-menu):not(.sg-logo-topright):not(.sg-logo-topleft) {
    margin-left: 50% !important;
}

.sd-f-wrapper-l .sg-central-block {
  background-position: center center !important;
}

.sd-f-wrapper-l .sg-central-block:not(.sg-position-center):not(.sg-position-left) .sg-central-block-content {
    margin-left: 50% !important;
}

.sd-f-wrapper-s sg-header:not(.sg-position-center):not(.sg-position-left) .sg-central-block-content {
    width: 100%;
}

.sd-f-wrapper-s div.sg-central-block-content {
    width: 100%;
}