.sg-central-block {
  min-height: 80vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  
  display: flex;

  flex-direction: column;
  justify-content: center;

  position: relative;
  overflow: hidden;
}

div.sg-central-block-content, .sd-f-wrapper div.sg-central-block-content {
  width: 50%;
  max-width: 75rem;
  padding: 2%;
  z-index: 1;
  margin-bottom: 30px;
}

.sg-central-block h1 {
  font-size: 32px;
}

.sg-central-block button, .sg-central-block a {
  /*font-size: 12px;*/
}

.sg-central-block-content .sg_buttonset {
  margin-top: 8px;    
}

.sg-central-block-content button, .sg-central-block-content a, .sg-central-block-content .button {
  margin: 0 1rem 0 0 !important;
  background-size: contain;
  background-position: center;
}

.sg-central-block-content button:last-of-type, .sg-central-block-content a:last-of-type, .sg-central-block-content .button:last-of-type {
	margin: 0 0 0 0 !important;
}

.sg-central-block-content button, .sg-central-block-content a {
  font-size: 12px;
  margin-top: 8px;
}

.sg-rounded .sg-central-block-content {
  border-radius: 10px;
}

.sg-textshadow .sg-central-block-content .subheader, .sg-textshadow .sg-central-block-content h1  {
  text-shadow: 1px 1px 1px #ffffff, -1px -1px 1px rgb(78, 78, 78);
  filter: brightness(70%) 
}

.sg-transparent-dark .sg-central-block-content {
  background-color: rgba(0, 0, 0, 0.5);
}

.sg-transparent-light .sg-central-block-content {
  background-color: rgba(255, 255, 255, 0.5);
}

.sg-transparent-dark .sg-central-block-content .subheader, .sg-transparent-dark .sg-central-block-content a {
  filter: brightness(140%);
}

.sg-transparent-light .sg-central-block-content .subheader {
  filter: brightness(50%);
}

.sg-position-center .sg-central-block-content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.sg_header.sg-asmenu .sg-central-block-content {
  margin-top: 96px;
}

.sg_header .sg-logo:not(.sg-logo-menu) {
  z-index: 1;
  margin-bottom: 2vh !important; 
}

.sg_header .sg-logo.sg-logo-topright {
  position: absolute;
  top: 1vh;
  right: 1vh;
}

.sg_header .sg-logo.sg-logo-topleft {
  position: absolute;
  top: 1vh;
  left: 1vh;
}

.sg-position-center .sg-logo:not(.sg-logo-topright):not(.sg-logo-topleft) {
    margin-left: auto;
    margin-right: auto;
}

.sg_header .sg-central-block.sg-position-left {
  align-items: left;
}

.sg_header .sg-central-block.sg-position-center {
  align-items: center;
}

.sg_header .sg-menu {
  z-index: 99999;
}
