.bal_popin {
	background-color: rgb(250, 255, 255);
	height: 300px;
	left: 20%;
	right: 20%;
	position: absolute;
	top: -250px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid #b6b6b6;
	-webkit-transition: top 0.2s linear;
}

.bal_popin.visible {
	top: 53px !important;
}

.bal_popinContent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
}

.bal_popinActions {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
}