div.sd-ip-wrapper {
  height: auto;
  width: 	100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-top: 0.3rem;  
}

.sd-ip-wrapper div.sd-ip-item {
  position: relative;
  cursor: pointer;
  height: 200px;
  background-image: url(./img/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  margin: 0.3rem;
}

div.sd-ip-title {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  left: 0;
  right: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sd-ip-wrapper div.sd-ip-item:hover div.sd-ip-title {
  display: block;
}

.sd-ip-wrapper div.sd-ip-item:hover {
  filter: brightness(120%);
}

.sd-ip-contain .sd-ip-wrapper div.sd-ip-item {
   background-size: contain;
}