.sd-iap-store {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #fff;
    transition: opacity 0.5s ease-in-out;    
}

.sd-iap-store.sd-visible {
    opacity: 1;
}

.sd-iap-main {
    position: absolute;
    top: 0;
    bottom: 54px;
    left: 0;
    right: 0;
    overflow: auto;
    font-family: Lucida Grande;
    background-image: url(./images/back2.jpg);
    background-size: cover;
}

.sd-iap-store footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 4px solid #999;
    background-color: var(--default-blue-text-color);

}

.sd-iap-store footer button {
    color: var(--default-blue-text-color);
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    border: 0;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px center;
    padding: 0 20px 0 40px;
}

.sd-iap-store footer button:hover {
    color: #2556ff;
}
.sd-iap-close {
    background-image: url(./images/icons8-cancel.png);
}

.sd-iap-store .sd-iap-buy {
    background-image: url(./images/icons8-card_in_use.png);    
    background-size: 25px;
    background-position: 9px center;
}

.sd-iap-restore {
    background-image: url(./images/icons8-settings_backup_restore.png);    
}

div.sd-iap-load {
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    color: #fff;
    font-size: 11px;    
}

.sd-iap-spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
0% { -webkit-transform: scale(0) }
100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
}
}

@keyframes sk-scaleout {
0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
} 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
}
}

.sd-iap-store .sd-iap-store-header {

    height: 20vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sd-iap-store .sd-iap-store-header h1 {
    text-shadow: 0 0 6px #fff;
}

.sd-iap-store .sd-iap-store-header i {
    color: rgb(255, 251, 32);
}

.sd-iap-store-section {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    background-color: #fff; 
    width: 100%;
    padding-top: 2vh;
}

.sd-iap-store-section h2 {
	color: #4f59b6;
}

.sd-iap-store-section p {
    font-size: 13px;
    color: #626262;
    line-height: 1.5;
}

.sd-iap-store-section a {
    color: #999;
}

.sd-iap-store-section-l {
    flex: 1;
    padding: 40px 100px 40px 100px;
}

.sd-iap-store-section-r {
    flex: 1;
    padding: 20px;
}

.sd-iap-store-section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sd-iap-store-sitemap-section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.sd-iap-store-flag {
    background-image: url(./images/flags.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: left center;
}

.sd-iap-store-component {
    background-image: url(./images/components.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 60px;
}

.sd-iap-store-sitemap {
    background-image: url(./images/sitemap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sd-iap-store-archive-section {
    background-image: url(./images/archive.jpg);
    background-size: cover;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sd-iap-store-archive-section p, .sd-iap-store-archive-section a {
    max-width: 500px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px #000, -1px -1px 2px #000;
}

.sd-iap-store-archive-section h2 {
    color: #eaee61;
    text-shadow: 1px 1px 3px #000, -1px -1px 3px #000;
}

.sd-iap-store-flag-section {
    background-color: #f8faff;
}

.sd-iap-store-theme {
    background-image: url(./images/theme.jpg);
    background-size: 100%;
    height: 20vh;
	background-position: center;
}

.sd-iap-section-theme .sd-iap-store-section-r  {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sd-iap-store-more-section {
    flex-direction: column;
    align-items: center;
}

.sd-iap-store-more-section p {
    padding: 0;
    margin: 2px;
}

.sd-iap-store-more-section {
    padding: 50px 0 50px 0;
}

.sd-iap-success-box {
    background: rgba(255, 255, 255, 0.78);
    height: 60vh;
    width: 80vw;
    box-shadow: 0 0 20px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.sd-iap-success-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}