.sl-aa-audio-cont {
  display: flex;
  flex-direction: column;
}

.sg_album-audio-list .sl-aa-list-title {
  padding: 0.5rem;
  border-bottom: 1px solid #999;
}

.sl-aa-audio-current {
display: flex;
  flex-direction: row;
  align-items: center;
    padding: 0 1.5rem; 
}

div.sl-aa-audio-list {
  flex: 1;
   padding: 0rem 1.5rem 0.5rem 1.5rem;
}

.sg_album-audio-list .sl-aa-audio-img {
  height: 100px;
  flex: 1;
  margin: 0;
  display: none;
}

.sg_album-audio-list .sl-aa-audio-img.sd-visible {
  display: block;
}


div.sl-aa-audio-ctrl-wrap {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 0.5rem;
}

