.sd_responsiveswitch {
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-left: 1px solid var(--border-light-color);
    margin-left: 13px;
}

.sd_responsiveswitch button {
    width: 40px;
	background-size: 20px;
	background-position: center; 
}

.sd_responsiveswitch .sd_active {
    border-bottom: 5px solid var(--default-blue-text-color);
}

.sd_responsiveswitch button:not(.sd_active):hover {
    border-bottom: 5px solid #eee;
}

.sd_responsiveswitch button:active {
	border-bottom: 5px solid #999;
}

.sd_rsmall {
	background-image: url(./images/icons8-touchscreen_smartphone_filled.png)
}

.sd_rmedium {
	background-image: url(./images/icons8-ipad_filled.png)
}

.sd_rlarge {
	background-image: url(./images/icons8-computer_filled.png)
}